{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
{% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7 align-self-center">
            <h4 class="page-title">Membership Package</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Package</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-5 align-self-center d-none d-md-block">
            {% if stripe_package_setup %}
                <div class="alert alert-warning float-right" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe to set up your membership details.
                </div>

            {% endif %}
            {% if account_link %}
                <div class="alert alert-warning float-right" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe for more information.
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list float-right">
                        {% include 'org_menu.html' %}
                    </div>
                    <!-- Tabs -->
                    <div class="tab-content" id="pills-tabContent">
                        <!-- Tabs -->
                        <div class="tab-pane" id="reports" role="tabpanel">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-info text-center">
                                                <h1 class="font-weight-light text-white">{{ members.count }}</h1>
                                                <h6 class="text-white">Total Members</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-danger text-center">
                                                <h1 class="font-weight-light text-white">{{ incomplete_members.count }}</h1>
                                                <h6 class="text-white">Incomplete Members</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-success text-center">
                                                <h1 class="font-weight-light text-white">{{ stripe_members }}</h1>
                                                <h6 class="text-white">Stripe Subscriptions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-warning text-center">
                                                <h1 class="font-weight-light text-white"></h1>
                                                <h6 class="text-white">More Coming Soon!</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- generate report -->
                                {% if membership_package.organisation_name == 'Suffolk Horse Society' or request.user.is_superuser %}
                                    {% if request.user == membership_package.owner or request.user in membership_package.admins.all %}
                                        <!-- raffle report -->
                                        <div>
                                            <hr>
                                            <a class="float-right" href="{% url 'reports' membership_package.organisation_name 'raffle' 'xlsx' %}"><button class="btn btn-success">Generate Raffle Tickets Report</button></a>
                                            <h4 class="card-title">Generate Raffle Tickets Report</h4>
                                            <p>
                                                Click the button to the right to generate a report of the members of Suffolk Horse Society.
                                            </p>
                                            <p>
                                                A spreadsheet will be created which contains the following details for members that have active subscriptions and have not ticked the "Do not mail" tickbox:
                                                <ul>
                                                    <li>Title</li>
                                                    <li>First Name</li>
                                                    <li>Surname</li>
                                                    <li>Second Name <i>(for joint accounts)</i></li>
                                                    <li>Membership Type</li>
                                                    <li>Company Name</li>
                                                    <li>Address 1</li>
                                                    <li>Address 2</li>
                                                    <li>Address 3</li>
                                                    <li>Address 4</li>
                                                    <li>Postcode</li>
                                                    <li>Country</li>
                                                    <li>Raffle Tickets <i>(Yes or No)</i></li>
                                                </ul>
                                            </p>
                                        </div>
                                        <!-- gift aid report -->
                                        <div>
                                            <hr>
                                            <a class="float-right" href="{% url 'reports' membership_package.organisation_name 'gift_aid' 'xlsx' %}"><button class="btn btn-success">Generate Gift Aid Report</button></a>
                                            <h4 class="card-title">Generate Gift Aid Report</h4>
                                            <p>
                                                Click the button to the right to generate a different report of the members of Suffolk Horse Society.
                                            </p>
                                            <p>
                                                The generated spreadsheet will produce a similar report to the raffle tickets report, detailed above, but containing details for active members who have ticked the "Gift aid decision" tickbox, instead of those who have not ticked the "Do not mail" tickbox. Also, "Raffle Tickets" information will not be included.
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- Tabs -->
                        <div class="tab-pane" id="account-overview" role="tabpanel">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center mb-4">
                                    <div class="ml-auto">
                                        <a href="{{ edit_account.url }}">
                                            <button type="button" class="btn btn-info" style="width: 100%">
                                                <i class="fad fa-pencil-alt mr-2"></i> Edit Package
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <h3 class="text-dark">Account Overview</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap display" id="accountOverviewTable">
                                        <thead>
                                            <tr>
                                                <th>Package Title</th>
                                                <th>Country</th>
                                                <th>Default Currency</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ stripe_package.business_profile.name|title }}</td>
                                                <td>{{ stripe_package.country }}</td>
                                                <td>{{ stripe_package.default_currency }}</td>
                                                <td>{{ stripe_package.email }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <h3 class="text-dark">Account Overview</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap display" id="accountDetailsTable">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Bank Name</th>
                                                <th>Country</th>
                                                <th>Currency</th>
                                                <th>Last 4</th>
                                                <th>Sort Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% if stripe_package.external_accounts.data %}
                                                <td>{{ stripe_package.external_accounts.data.0.status }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.bank_name }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.country }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.currency }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.last4 }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.routing_number }}</td>
                                                {% else %}
                                                    <td align="left" colspan="6">Please continue setup on stripe.</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Button to delete organisation -->
                                {% if request.user == membership_package.owner and members == 0  %}
                                    <div class="boarder-bottom p-3">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-org-modal" style="width: 100%">Delete Organisation</button>
                                    </div>
                                    <!-- Modal to delete organisation -->
                                    <div id="delete-org-modal" class="modal fade" tabindex="-1" role="dialog"
                                         aria-labelledby="delete-org-modalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header modal-colored-header bg-danger">
                                                    <h4 class="modal-title text-white" id="delete-org-modalLabel">
                                                        Delete Organisation</h4>
                                                    <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip"
                                                            title="Exit Window" aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete
                                                        {{ membership_package.organisation_name }}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                                    <a href="{% url 'delete_membership_package'
                                                     membership_package.organisation_name %}">
                                                        <button type="button" class="btn btn-danger">Continue</button>
                                                    </a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endif %}
                            </div>
                        </div>
                        <!-- Tabs -->
                        <div class="tab-pane" id="donation" role="tabpanel">
                            <div class="card-body">
                                <!-- table to show donations made to this organisation -->
                                <h3 class="card-title">Donations</h4>
                                <div class="table-responsive">
                                    <table id="donations_table" class="table table-striped table-bordered display no-wrap"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Amount</th>
                                                <th>Gift Aid</th>
                                                <th>Message</th>
                                                <th>Date and Time</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
            
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Amount</th>
                                                <th>Gift Aid</th>
                                                <th>Message</th>
                                                <th>Date and Time</th>
                                                <th>Address</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <hr>
                                <!-- button to copy donation link button to clipboard -->
                                <h3 class="card-title">Donation Button</h4>
                                <p>
                                    To insert a button in your website that allows your viewers to easily make a donation to {{ membership_package.organisation_name }}, choose which of the buttons below would fit well into your website. Then, click that button to copy a code snippet to clipboard so it can be pasted into your website HTML.
                                </p>
                                <!-- pink -->
                                <div class="mb-3">
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="25px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 25px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="21px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 21px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="18px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 18px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="15px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 15px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                </div>
                                <!-- teal -->
                                <div class="mb-3">
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="25px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 25px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="21px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 21px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="18px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 18px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="15px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 15px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                </div>
                                <!-- light grey -->
                                <div class="mb-3">
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="25px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 25px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="21px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 21px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="18px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 18px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="15px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 15px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                </div>
                                <p>
                                    Alternatively, if you would like to share your donation link in another way, here it is:<br/>
                                    <a id="donation-url" href="{{ donation_url }}" target="_blank">{{ donation_url }}</a>
                                    <span id="copy-link" class="ml-2" data-toggle="tooltip" title="Copy link to clipboard" style="cursor:pointer"><i class="fad fa-copy"></i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Tabs -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}