<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Administer
</button>
<ul class="dropdown-menu" role="menu">
    <!-- payment page -->
    <li>
        {% if subscription.payment_method or subscription.stripe_subscription_id %}
            <a href="{% url 'member_payment' membership_package.organisation_name subscription.member.id %}" class="dropdown-item"><i class="fad fa-credit-card-front text-success mr-2"></i>Payment Page</a>
        {% else %}
            <a href="{% url 'member_payment' membership_package.organisation_name subscription.member.id %}" class="dropdown-item"><i class="fad fa-credit-card-front text-danger mr-2"></i>Payment Page</a>
        {% endif %}
    </li>
    <!-- member payments -->
    <li>
        <a href="{% url 'member_payments' membership_package.organisation_name subscription.member.id %}" class="dropdown-item"><i class="fad fa-money-check-edit-alt text-info mr-2"></i>Member Payments</a>
    </li>
    <!-- member profile -->
    <li>
        <a href="{% url 'member_profile' subscription.member.id %}" class="dropdown-item"><i class="fad fa-user-alt text-info mr-2"></i>Member Profile</a>
    </li>
    <!-- edit member -->
    <li>
        <a href="{% url 'member_form' membership_package.organisation_name subscription.member.id %}" class="dropdown-item"><i class="fad fa-user-edit text-info mr-2"></i>Edit Member</a>
    </li>
    <!-- reset password -->
    <li>
        <a href="javascript:resetMemberPwd('{{ subscription.member.user_account.email }}');" value="{{ subscription.member.user_account.email }}" class="dropdown-item"><i class="fad fa-key text-success mr-2"></i>Reset Password</a>
    </li>
    <!-- payment reminder -->
    <li>
        <a href="{% url 'payment_reminder' subscription.membership_package.organisation_name subscription.member.id %}" class="dropdown-item"><i class="fad fa-envelope-open-dollar mr-2"></i>Payment Reminder</a>
    </li>
    <!-- remove member -->
    <li>
        <a href="javascript:removeMember({{ subscription.member.id }}, 'overdueMembersTable');" value="{{ subscription.member.id }}" class="dropdown-item"><i class="fad fa-user-slash text-danger mr-2"></i>Remove Member</a>
    </li>
</ul>