{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}

{% include 'spinner-overlay.html' with msg="Updating Email" %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">Manage Custom Fields</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Manage Payment Reminder</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">{% include 'org_menu.html' %}</div>
                    <div class="mt-4 text-center">
                        <h4 class="card-title mt-2">{{ membership_package.organisation_name }}</h4>
                        <h6 class="card-title mt-2">Owner: {{ membership_package.owner.get_full_name }}</h6>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <p>
                        Use this page to customise the payment reminder email, which is sent when clicking the Payment Reminder button for a particular member. If you do not specify your own email, the default emails below will be sent.
                    </p>
                    <hr>
                    <h4>When Payment Method Is Card</h4>
                    <p>This is a reminder for you to pay for your subscription.</p>
                    <ul>
                        <li>Membership Organisation: {membership_package.organisation_name}</li>
                        <li>Next Payment: £<i>amount due</i> due by <i>date due</i>.</li>
                        <li>Payment Method: {temp_payment_method}</li>
                        <li>Payment Interval: {subscription.price.interval}</li>
                    </ul>
                    <p>Many thanks,<br/>The Cloud-Lines Team</p>
                    <h4>When Payment Method Is Not Card</h4>
                    <p>This is a reminder for you to pay for your subscription.</p>
                    <ul>
                        <li>Membership Organisation: {{ membership_package.organisation_name }}</li>
                        <li>Amount Due: £<i>subscription price per payment interval</i></li>
                        <li>Payment Method: <i>payment method</i></li>
                        <li>Payment Interval: <i>payment interval</i></li>
                        <li>Payment Information: <i>payment information <b>(if it exists)</b></i></li>
                    </ul>
                    <p>Many thanks,<br/>The Cloud-Lines Team</p>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Type Your Custom Email</h4>
                    <form id="customiseEmailForm" class="row">
                        <div class="col-lg-12 col-xlg-12">
                            <div class="form-group">
                                <textarea placeholder="Insert email here" rows="10" type="text" class="form-control" name="custom_email" value="{{ membership_package.payment_reminder_email }}">{{ membership_package.payment_reminder_email }}</textarea>
                            </div>
                            <div class="form-group mb-0 text-right">  
                                <button name="save" id="save" class="btn btn-info waves-effect waves-light">Save</button>
                                <a href="{% url 'manage_payment_reminder' membership_package.organisation_name %}" class="btn btn-dark waves-effect waves-light">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->

</div>

<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script>
        function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        $("#save").click(function(e){
            $('#overlay-spinner').modal();
                e.preventDefault();
                sleep(2000).then(() => {
                    updateEmail()
                });
        });

        function updateEmail() {
            $.ajax({
                url: '{% url 'manage_payment_reminder' membership_package.organisation_name %}',
                enctype: 'multipart/form-data',
                type: 'POST',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#customiseEmailForm').serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        $('#overlay-spinner').modal('toggle');
                        errorMsg(result['message']);
                    } else {
                        $('#overlay-spinner').modal('toggle');
                        infoMsg(result.message);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        }
    </script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        // Date Picker
        jQuery('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}