{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}

{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">{{ membership_package }} Member Form</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Member Bolton Form</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Member Bolton Form</h4>
                    <h6 class="card-subtitle">Fill out the form below to add a new member to your organisation.</h6>
                </div>
                <hr>

                <form id="memberForm" class="form-horizontal" action="{% url 'member_bolton_form' membership_package.organisation_name member.id %}" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <h4 class="card-title">{{ package.bolton | title }} Detail</h4>
                            <div class="row">
                                {{ bolton_form.errors }}
                                {% for field in bolton_form %}
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="form-group row">

                                            <label class="col-sm-3 text-right control-label col-form-label">{{ field.label }}</label>
                                            <div class="col-sm-9">
                                                {% render_field field class+="" %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="form-group mb-0 text-right">
                                <button id="save-member" class="btn btn-info waves-effect waves-light">Save</button>
                                <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Row -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        // Date Picker
        jQuery('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}