
{% load widget_tweaks %}

{% csrf_token %}
<div class="card-body">
    <h4 class="card-title">Details</h4>
    <div class="row">
        {% for field in form %}
            <div class="col-sm-12 col-lg-6">
                <div class="form-group row">
                    <label for="{{ field.id }}" class="col-sm-3 text-right control-label col-form-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                    <div class="col-sm-9">
                        {% render_field field class+="" %}
                        <small>{{ field.help_text }}</small>
                        {% if field.errors %}
                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                <ul class="list-style-none">
                                    {% for error in field.errors %}
                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="card-body">
        <div class="form-group mb-0 text-right">
            <button id="save-member" class="btn btn-info waves-effect waves-light">Save Member</button>
            <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
        </div>
    </div>
</div>