{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block header %}
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if customer %}
    {% include 'spinner-overlay.html' with msg='Updating Member Card...' %}
{% else %}
    {% include 'spinner-overlay.html' with msg='Creating Member Payment...' %}
{% endif %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">Member Profile</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Member Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4">
<!--                        <img src="../assets/images/users/5.jpg" class="rounded-circle" width="150" />-->
                        <h4 class="card-title mt-2">{{ member.user_account.get_full_name }}</h4>
<!--                        <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>-->
<!--                        <div class="row text-center justify-content-md-center">-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-weight-medium">254</font></a></div>-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-weight-medium">54</font></a></div>-->
<!--                        </div>-->
                    </center>
                </div>
                <hr>
                <div class="card-body"> <small class="text-muted">Email address </small>
                    <h6>{{ member.user_account.email }}</h6>
                    <small class="text-muted pt-4 db">Phone</small>
                    <h6>{{ member.contact_number }}</h6>
                    <small class="text-muted pt-4 db">Address</small>
                    <h6>{{ member.address_line_1 }}</h6>
                    <h6>{{ member.address_line_2 }}</h6>
                    <h6>{{ member.town }}</h6>
                    <h6>{{ member.county }}</h6>
                    <h6>{{ member.postcode }}</h6>
                    {% if member.postcode %}
                        <div class="map-box">
                            <iframe src="https://maps.google.com/maps?q={{ member.address_line_1 }}%20{{ member.postcode }}&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    <br/>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Tabs -->
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-0 active" id="pills-membership-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="pills-membership" aria-selected="true">Membership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-0" id="pills-payments-tab" data-toggle="pill" href="#payments" role="tab" aria-controls="pills-payments" aria-selected="false">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-0" id="pills-card-tab" data-toggle="pill" href="#card-details" role="tab" aria-controls="pills-card" aria-selected="false">Card Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-0" id="pills-setting-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="pills-setting" aria-selected="false">Settings</a>
                    </li>
                </ul>
                <!-- Tabs -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="pills-membership-tab">
                        <div class="card-body">
                            <!-- Iterate over all subscriptions attached to the member -->
                            {% for subscription in member.subscription.all %}
                                <!-- Validate request.user is owner/admin/ of subscription package
                                 or is a superuser
                                 or user and member are the same -->
                                {% if request.user == subscription.membership_package.owner or request.user in subscription.membership_package.admins.all or request.user.is_superuser or request.user == member %}
                                    <h3>{{ subscription.membership_package.organisation_name }}</h3>
                                    <!-- Check if it is a strip subscription -->
                                    {% if subscription.stripe_subscription_id %}
                                        <!-- Iterate over all subscriptions -->
                                        {% for id, details in subscriptions.items %}
                                            <!-- Check to see if the ID matches the top level loop -->
                                            {% if details.subscription.id == subscription.stripe_subscription_id %}
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Membership Status</strong>
                                                        <br>
                                                        <p class="text-muted">
                                                            {% if details.subscription.plan.active == True %}
                                                                <span class="text-success">Active</span>
                                                            {% else %}
                                                                <span class="text-danger">Inactive</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Membership Start</strong>
                                                        <br>
                                                        <p class="text-muted">
                                                            {{ details.subscription.start_date|parsetimestamp }}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6 b-r"> <strong>Payment Interval</strong>
                                                        <br>
                                                        <p class="text-muted">
                                                            {% if details.subscription.plan.interval == 'month' %}
                                                                Monthly
                                                            {% elif details.subscription.plan.interval == 'year' %}
                                                                Yearly
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3 col-xs-6"> <strong>Payment Method</strong>
                                                        <br>
                                                        <p class="text-muted">{{ subscription.payment_type|choicefieldformat }}</p>
                                                    </div>
                                                    {% if details.subscription.plan.interval == "month" %}
                                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Price Per Month</strong>
                                                            <p class="text-muted">
                                                                £{{ subscription.price.amount|price }}
                                                            </p>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Price Per Year</strong>
                                                            <p class="text-muted">
                                                                £{{ subscription.price.amount|price }}
                                                            </p>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Membership Status</strong>
                                                <br>
                                                <p class="text-muted">
                                                    {% if subscription.active %}
                                                        <span class="text-success">Active</span>
                                                    {% else %}
                                                        <span class="text-danger">Inactive</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Membership Start</strong>
                                                <br>
                                                <p class="text-muted">
                                                    {{ subscription.membership_start }}
                                                </p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Payment Interval</strong>
                                                <br>
                                                <p class="text-muted">
                                                    {{ subscription.billing_period|title }}
                                                </p>
                                            </div>
                                            <div class="col-md-3 col-xs-6"> <strong>Payment Method</strong>
                                                <br>
                                                <p class="text-muted">{{ subscription.payment_type|choicefieldformat }}</p>
                                            </div>
                                            {% if subscription.billing_period == "monthly" %}
                                                <div class="col-md-3 col-xs-6 b-r"> <strong>Price Per Month</strong>
                                                    <p class="text-muted">
                                                        £{{ subscription.membership_package.membership_price_per_month }}
                                                    </p>
                                                </div>
                                            {% else %}
                                                <div class="col-md-3 col-xs-6 b-r"> <strong>Price Per Year</strong>
                                                    <p class="text-muted">
                                                        £{{ subscription.membership_package.membership_price_per_year }}
                                                    </p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="payments" role="tabpanel">
                        <div class="card-body">
                            <h4 class="font-weight-medium mt-4">Payments</h4>
                            <p>Shows all payments handled by Stripe <small>(Card Payment Gateway)</small></p>
                            <hr>
                            <div class="table-responsive">
                                <table id="scroll_ver_hor" class="table table-striped table-bordered display no-wrap"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">Paid</th>
                                            <th scope="col">Receipt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Iterate over all subscriptions attached to the member -->
                                        {% for subscription in member.subscription.all %}
                                            <!-- Iterate over all subscriptions -->
                                            {% for id, details in subscriptions.items %}
                                                <!-- Validate request.user is owner/admin/ of subscription package
                                                 or is a superuser
                                                 or user and member are the same -->
                                                {% if request.user == subscription.membership_package.owner or request.user in subscription.membership_package.admins.all or request.user.is_superuser or request.user == member %}
                                                    <!-- Loop over all payments made -->
                                                    {% for payment in details.payments %}
                                                        <!-- Check to see if the ID matches the top level loop -->
                                                        {% if payment.customer == subscription.stripe_id %}
                                                            <tr>
                                                                <td scope="row"><p data-toggle="tooltip" data-placement="top" title="{{ charge.id }}">{{ payment.id|slice:"-6:" }}</p></td>
                                                                <td>{{ payment.amount|price }} {{ payment.currency|upper}}</td>
                                                                <td>{{ payment.created|parsetimestamp }}</td>
                                                                <td><span class="label {% if payment.paid %}label-light-success{% else %}label-light-danger{% endif %}"> {% if payment.paid %}Yes{% else %}No{% endif %} </span></td>
                                                                <td>{% if payment.paid %}<a href="{{ payment.receipt_url }}"><button class="btn btn-outline-success">Download</button></a>{% endif %}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="card-details" role="tabpanel">
                        <div class="card-body">
                            <div class="row mt-4" id="existing-customer-details">
                                <div class="col-6">
                                    <!-- Iterate over all subscriptions attached to the member -->
                                    {% for subscription in member.subscription.all %}
                                        <!-- Validate request.user is owner/admin/ of subscription package
                                         or is a superuser
                                         or user and member are the same -->
                                        {% if request.user == subscription.membership_package.owner or request.user in subscription.membership_package.admins.all or request.user.is_superuser or request.user == member %}
                                            <h3>{{ subscription.membership_package.organisation_name }}</h3>
                                            <!-- Check if it is a strip subscription -->
                                            {% if subscription.stripe_subscription_id %}
                                                <!-- Iterate over all subscriptions -->
                                                {% for id, details in subscriptions.items %}
                                                    <!-- Check to see if the ID matches the top level loop -->
                                                    {% if details.subscription.id == subscription.stripe_subscription_id %}
                                                        <h5>Existing Subscription Details</h5>
                                                        <ul class="list-style-none">
                                                            <li><i class="fad fa-chevron-right"></i>
                                                                Status: {% if details.subscription.plan.active == True %}
                                                                    <span class="text-success">Active</span>
                                                                {% else %}
                                                                    <span class="text-danger">Inactive</span>
                                                                {% endif %}
                                                            </li>
                                                            <li><i class="fad fa-chevron-right"></i> Payment Interval: {% if details.subscription.plan.interval == 'month' %}Monthly
                                                                {% elif details.subscription.plan.interval == 'year' %}
                                                                Yearly{% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-6">
                                    {% if False %}
                                        <!-- section not visible right now -->
                                        <h5>Existing Card Details</h5>
                                        <ul class="list-style-none">
                                            <li><i class="fad fa-chevron-right"></i> Brand: {{ customer.sources.data.0.brand }}</li>
                                            <li><i class="fad fa-chevron-right"></i> Last 4: {{ customer.sources.data.0.last4 }}</li>
                                            <li><i class="fad fa-chevron-right"></i> Month/Year: {{ customer.sources.data.0.exp_month }}/{{ customer.sources.data.0.exp_year }}</li>
                                            <li><i class="fad fa-chevron-right"></i> Area Code: {{ customer.sources.data.0.address_zip }}</li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div id="result" class="d-none text-center">
                                <h2>Success!</h2>
                                {% if customer %}
                                    <h6>Card has been updated!</h6>
                                {% else %}
                                    <h6>Membership is now active!</h6>
                                {% endif %}
                            </div>
                            <div class="col-lg-6 offset-lg-3">
                                <form id="payment-form">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="orgPaymentSelection">Select Organisation</label>
                                        </div>
                                        <select class="custom-select" name="org_payment_selection" id="orgPaymentSelection">
                                            {% for subscription in member.subscription.all %}
                                                {% if request.user == subscription.membership_package.owner or request.user in subscription.membership_package.admins.all or request.user.is_superuser or request.user == member %}
                                                    <option value="{{ subscription }}">{{subscription}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <label>Card Holders Name:</label>
                                    <input id="cardholder-name" type="text" class="form-control" value="{{ user.get_full_name }}">
                                    <!-- placeholder for Elements -->
                                    <div id="card-element"></div>
                                    <!-- Used to display Element errors. -->
                                    <div id="card-errors" role="alert"></div>
                                    <div class="text-center" id="cardTypes">
                                        <img class="mt-2" src="{% static 'cloud-lines/images/cards/1.png' %}" alt="Card" style="max-height:50px">
                                        <img class="mt-2" src="{% static 'cloud-lines/images/cards/2.png' %}" alt="Card" style="max-height:50px">
                                        <img class="mt-2" src="{% static 'cloud-lines/images/cards/22.png' %}" alt="Card" style="max-height:50px">
                                    </div>
                                </form>
                            </div>
                            <hr>
                            <div class="card-body" id="payment-buttons">
                                <div class="form-group mb-0 text-right">
                                    <button id="save-membership" class="btn btn-info waves-effect waves-light">Update Card</button>
                                </div>
                            </div>
                        </div>
                        <script>
                            <!-- show/hide the payment form -->

                        </script>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                        <div class="card-body">
                            <form id="userSettings" method="POST" class="form-horizontal form-material">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-md-12">Title</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.title }}" name="user-settings-title" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">First Name</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.user_account.first_name }}" name="user-settings-first-name" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Last Name</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.user_account.last_name }}" name="user-settings-last-name" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" value="{{ member.user_account.email }}" class="form-control form-control-line" name="user-settings-email" id="example-email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Address 1</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.address_line_1 }}" name="user-settings-address1" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Address 2</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.address_line_2 }}" name="user-settings-address2" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Town</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.town }}" name="user-settings-town" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">County</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.county }}" name="user-settings-county" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Postcode</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.postcode }}" name="user-settings-postcode" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone Number</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ member.contact_number }}" name="user-settings-phone" class="form-control form-control-line">
                                    </div>
                                </div>
                                {% if request.user == member.user_account %}
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" name="user-settings-password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                {% endif %}
                                </form>
                            <div class="row">
                                <div class="col-2">
                                    <button id="selectUserSettings" type="submit" class="btn btn-success float-left">Update Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->

</div>

<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/custom-datatable.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('a[data-toggle="pill"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );
        } );
        $('#scroll_ver_hor').DataTable({
            "scrollY": 300,
            "scrollX": true
        });
    </script>

    <script>
         $('#selectUserSettings').click( function() {
            $.ajax({
                url: '{% url 'update_user' member.id %}',
                type: 'post',
                dataType: 'text',
                data: $('#userSettings').serialize(),
                success: function(data) {
                    if (data) {
                        infoMsg('Member settings updated')
                    } else {
                        errorMsg('Member settings failed to update')
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        });
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }

        $("#save-membership").click(function(e){
            $('#overlay-spinner').modal();
            e.preventDefault();
            sleep(2000).then(() => {
                generateCardToken()
            });

        });

        // STRIPE STUFF
        var stripe = Stripe('{{ public_api_key }}');
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');


        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });

        // Create a token or display an error when the form is submitted.
        function generateCardToken() {
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    $('#overlay-spinner').modal('hide');
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        }

        function stripeTokenHandler(token) {
            // url 'member_payment' package.organisation_name member.id
            memberPaymentUrl = '/membership/member-payment/' + $("#orgPaymentSelection option:selected" ).text() + '/' + '{{ member.id }}';
            // Submit the token
            $.ajax({
                url: memberPaymentUrl,
                type: 'post',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'token': token,
                    },
                beforeSend: function() {
                    $('#paymentSuccess').addClass('d-none');
                    $('#paymentFail').addClass('d-none');
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result.result == 'fail') {
                        $('#overlay-spinner').modal('hide');
                        $('#card-errors').html(result.feedback);
                    } else {
                        loadSuccessPage(result);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }

        function loadSuccessPage(result) {
            $('#overlay-spinner').modal('hide');

            infoMsg('Card Updated')
        }
    </script>

{% endblock %}