{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block header %}

{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
{% block content %}

<!-- Modal to remove member -->
<div id="remove-member-modal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="remove-member-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger">
                <h4 class="modal-title text-white" id="remove-member-modalLabel">Remove Member</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this member from {{ membership_package.organisation_name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <a id="removeUserUrl" href="">
                    <button type="button" class="btn btn-danger">Continue</button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7 align-self-center">
            <h4 class="page-title">Membership Package</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Package</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-5 align-self-center d-none d-md-block">
            {% if stripe_package_setup %}
                <div class="alert alert-warning" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe to set up your membership details. <a href="{{ stripe_package_setup.url }}"><button class="btn btn-sm btn-warning float-right">Go To Stripe</button></a>
                </div>

            {% endif %}
            {% if account_link %}
                <div class="alert alert-warning" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe for more information. <a href="{{ account_link.url }}"><button class="btn btn-sm btn-warning float-right">Go To Stripe</button></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-8 col-xl-9 col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center mb-4">
                        <h4 class="card-title">{{ membership_package.organisation_name }} Members Overview</h4>
                        <div class="ml-auto">
                            <div class="btn-group">
                                {% if not stripe_package_setup %}
                                    <a href="{% url 'member_form' membership_package.organisation_name %}">
                                        <button type="button" class="btn btn-success">
                                            Add New Member
                                        </button>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Cannot add new members until setup is completed.">
                                        Add New Member
                                    </button>
                                {% endif %}
                                <a href="{% url 'manage_admins' membership_package.organisation_name %}">
                                    <button type="button" class="btn btn-info-dark text-white ml-1">
                                        Manage Admins
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="file_export" class="table table-bordered nowrap display">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members.all %}
                                    {% for membership in member.subscription.all %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'member_profile' member.id %}"><button class="btn waves-effect waves-light btn-rounded btn-sm btn-success">{{ member.user_account.get_full_name }}</button></a>
                                            </td>
                                            <td>{{ member.user_account.email }}</td>
                                            <td>
                                                <span class="badge py-1 badge-info">
                                                {{ membership.record_type|title }}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="badge py-1 badge-info">
                                                {{ membership.category|choicefieldformat }}
                                                </span>
                                            </td>
                                            <td>
                                                {% if membership.payment_type == 'card_payment' %}
                                                    {% if membership.stripe_subscription_id %}
                                                        <a href="{% url 'member_profile' member.id %}#card-details">
                                                            <button class="btn btn-sm btn-rounded btn-light mr-1 mt-1">
                                                                <i class="fad fa-credit-card-front text-success"></i>
                                                            </button>
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'member_profile' member.id %}#card-details">
                                                            <button class="btn btn-sm btn-rounded btn-light mr-1 mt-1" data-toggle="tooltip" data-placement="top" title="Card details not added">
                                                                <i class="fad fa-credit-card-front text-danger"></i>
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                                <a href="{% url 'edit_member' membership_package.organisation_name member.id %}"><button class="btn btn-sm btn-rounded btn-light mr-1 mt-1"><i class="fad fa-user-edit text-info"></i></button></a>
                                                <button class="btn btn-sm btn-rounded btn-light mt-1 removeUserBtn" value="{{ member.id }}"><i class="fad fa-user-slash text-danger"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-xl-3 col-md-3">
            <div class="card">
                <div class="border-bottom p-3">
                    {% if stripe_package_setup %}
                    <a href="{{ stripe_package_setup.url }}">
                        <button type="button" class="btn btn-warning" style="width: 100%">
                            Continue Setup on Stripe
                        </button>
                    </a>

                    {% elif account_link %}
                        <a href="{{ account_link.url }}">
                            <button type="button" class="btn btn-warning" style="width: 100%">
                                Action Required on Stripe
                            </button>
                        </a>
                    {% else %}
                        <a href="{{ edit_account.url }}">
                            <button type="button" class="btn btn-info" style="width: 100%">
                                <i class="fad fa-pencil-alt mr-2"></i> Edit Package
                            </button>
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4 class="card-title">Account Overview</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Package Title</th>
                                    <td>{{ stripe_package.business_profile.name|title }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">URL</th>
                                    <td><a href="{{ stripe_package.business_profile.url }}" target="_blank">{{ stripe_package.business_profile.url }} <i class="fad fa-external-link"></i></a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Country</th>
                                    <td>{{ stripe_package.country }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Default Currency</th>
                                    <td>{{ stripe_package.default_currency }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{ stripe_package.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <h4 class="card-title">Card Details</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Status</th>
                                    <td>{{ stripe_package.external_accounts.data.0.status }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Bank Name</th>
                                    <td>{{ stripe_package.external_accounts.data.0.bank_name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Country</th>
                                    <td>{{ stripe_package.external_accounts.data.0.country }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">currency</th>
                                    <td>{{ stripe_package.external_accounts.data.0.currency }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last 4</th>
                                    <td>{{ stripe_package.external_accounts.data.0.last4 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sort Code</th>
                                    <td>{{ stripe_package.external_accounts.data.0.routing_number }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Button to delete organisation -->
                {% if request.user == membership_package.owner and not members  %}
                    <div class="border-bottom p-3">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-org-modal" style="width: 100%">Delete Organisation</button>
                    </div>
                    <!-- Modal to delete organisation -->
                    <div id="delete-org-modal" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="delete-org-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-colored-header bg-danger">
                                    <h4 class="modal-title text-white" id="delete-org-modalLabel">Delete Organisation</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{ membership_package.organisation_name }}?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_membership_package' membership_package.organisation_name %}">
                                        <button type="button" class="btn btn-danger">Continue</button>
                                    </a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endif %}
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- End Row -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/custom-datatable.js' %}"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script>
        $('#file_export').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": {
                            "search": "Filter members:"
                          },
            "pagingType": "full_numbers"
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-info float-right mr-1');
    </script>

    <script>
        $('.removeUserBtn').on('click',function(){
            $('#removeUserUrl').attr("href", "/membership/remove-member/{{ membership_package.organisation_name }}/" + $(this).attr("value"))
            $('#remove-member-modal').modal('show');
        });
    </script>
{% endblock %}