{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block header %}
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">Member Profile</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Member Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4">
<!--                        <img src="../assets/images/users/5.jpg" class="rounded-circle" width="150" />-->
                        <h4 class="card-title mt-2">{{ member.user_account.get_full_name }}</h4>
<!--                        <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>-->
<!--                        <div class="row text-center justify-content-md-center">-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-weight-medium">254</font></a></div>-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-weight-medium">54</font></a></div>-->
<!--                        </div>-->
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body"> <small class="text-muted">Email address </small>
                    <h6>{{ member.user_account.email }}</h6>
                    <small class="text-muted pt-4 db">Phone</small>
                    <h6>{{ member.contact_number }}</h6>
                    <small class="text-muted pt-4 db">Address</small>
                    <h6>{{ member.address_line_1 }}</h6>
                    <h6>{{ member.address_line_2 }}</h6>
                    <h6>{{ member.town }}</h6>
                    <h6>{{ member.county }}</h6>
                    <h6>{{ member.postcode }}</h6>
                    <div class="map-box">
                        <iframe src="https://maps.google.com/maps?q={{ member.address_line_1 }}%20{{ member.postcode }}&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Tabs -->
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-membership-tab" data-toggle="pill" href="#last-month" role="tab" aria-controls="pills-membership" aria-selected="true">Membership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#previous-month" role="tab" aria-controls="pills-setting" aria-selected="false">Settings</a>
                    </li>
                </ul>
                <!-- Tabs -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="last-month" role="tabpanel" aria-labelledby="pills-membership-tab">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Membership Status</strong>
                                    <br>
                                    <p class="text-muted">
                                        {% if subscription %}
                                            {% if subscription.plan.active == True %}
                                                <span class="text-success">Active</span>
                                            {% else %}
                                                <span class="text-danger">Inactive</span>
                                            {% endif %}
                                        {% else %}
                                            Active <small>(Self managed)</small>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Membership Start</strong>
                                    <br>
                                    <p class="text-muted">
                                        {% if subscription %}
                                            {{ subscription.start_date|parsetimestamp }}</p>
                                        {% else %}
                                            {{ member.created }}
                                        {% endif %}
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Payment Interval</strong>
                                    <br>
                                    <p class="text-muted">
                                        {% if subscription %}
                                            {% if subscription.plan.interval == 'month' %}
                                                Monthly
                                            {% elif subscription.plan.interval == 'year' %}
                                                Yearly
                                            {% endif %}
                                        {% else %}
                                            {{ member.billing_period|title }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Payment Method</strong>
                                    <br>
                                    <p class="text-muted">{{ member.payment_type|choicefieldformat }}</p>
                                </div>
                            </div>
                            <hr>
                            {% if subscription %}
                                <h4 class="font-weight-medium mt-4">Payments</h4>
                                <hr>
                                <div class="table-responsive">
                                    <table id="scroll_ver_hor" class="table table-striped table-bordered display no-wrap"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Created</th>
                                                <th scope="col">Paid</th>
                                                <th scope="col">Receipt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for payment in payments %}
                                                <tr>
                                                    <td scope="row"><p data-toggle="tooltip" data-placement="top" title="{{ charge.id }}">{{ payment.id|slice:"-6:" }}</p></td>
                                                    <td>{{ payment.amount|price }} {{ payment.currency|upper}}</td>
                                                    <td>{{ payment.created|parsetimestamp }}</td>
                                                    <td><span class="label {% if payment.paid %}label-light-success{% else %}label-light-danger{% endif %}"> {% if payment.paid %}Yes{% else %}No{% endif %} </span></td>
                                                    <td>{% if payment.paid %}<a href="{{ payment.receipt_url }}"><button class="btn btn-outline-success">Download</button></a>{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="previous-month" role="tabpanel" aria-labelledby="pills-setting-tab">
                        <div class="card-body">
                            <form class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Password</label>
                                    <div class="col-md-12">
                                        <input type="password" value="password" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Message</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" class="form-control form-control-line"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Select Country</label>
                                    <div class="col-sm-12">
                                        <select class="form-control form-control-line">
                                            <option>London</option>
                                            <option>India</option>
                                            <option>Usa</option>
                                            <option>Canada</option>
                                            <option>Thailand</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Update Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/custom-datatable.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/datatable-basic.init.js' %}"></script>

{% endblock %}