{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
{% endblock %}

{% block content %}

<!-- modal to remove member -->
{% include 'remove_member_modal.html' %}

<!-- modal to update membership status -->
{% include 'update_membership_status.html' %}

{% include 'comments-modal.html' %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7 align-self-center">
            <h4 class="page-title">Membership Package</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Package</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-5 align-self-center d-none d-md-block">
            {% if stripe_package_setup %}
                <div class="alert alert-warning float-right" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe to set up your membership details.
                </div>

            {% endif %}
            {% if account_link %}
                <div class="alert alert-warning float-right" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe for more information.
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <h4 class="card-title float-left">{{ membership_package.organisation_name }}</h4>
                        <div class="btn-list float-right">
                            {% include 'org_menu.html' %}
                        </div>
                    </div>
                    <hr>
                    <div class="d-md-flex no-block">
                        <div class="ml-auto">
                            {% if stripe_package_setup %}
                            <a href="{{ stripe_package_setup.url }}">
                                <button type="button" class="btn btn-warning mb-2" style="width: 100%">
                                    Continue Setup on Stripe
                                </button>
                            </a>
                            {% elif account_link %}
                                <a href="{{ account_link.url }}">
                                    <button type="button" class="btn btn-warning mb-2" style="width: 100%">
                                        Action Required on Stripe
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Tabs -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="fade show active" id="members-overview" aria-labelledby="pills-members-tab">
                            <div class="card-body">
                                <h3 class="text-success">Complete Membership Applications</h3>
                                <div class="table-responsive" style="overflow: visible;">
                                    <table id="show_hide_col" class="table table-striped table-bordered display no-wrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="no-sort">Action</th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Comments</th>
                                                <th>Membership Type</th>
                                                <th class="no-sort">Membership Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <hr>
                                <h3 class="text-danger">Incomplete Membership Applications</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap display" id="incompleteMembersTable">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Membership Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for member in incomplete_members.all %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'member_profile' member.id %}"><button class="btn waves-effect waves-light btn-rounded btn-sm btn-success">{{ member.user_account.get_full_name }}</button></a>
                                                    </td>
                                                    <td>{{ member.user_account.email }}</td>
                                                    <td>
                                                        <span class="badge py-1 badge-danger">
                                                            No membership selected
                                                        </span>
                                                    </td>
                                                    <td>
                                                        {% for subscription in member.subscription.all %}
                                                            {% if subscription.membership_package == membership_package %}
                                                                <!--{% if subscription.payment_method or subscription.stripe_subscription_id %}
                                                                    <a href="{% url 'member_payment' membership_package.organisation_name member.id %}">
                                                                        <button class="btn btn-sm btn-rounded btn-light mr-1 mt-1">
                                                                            <i class="fad fa-credit-card-front text-success"></i>
                                                                        </button>
                                                                    </a>
                                                                {% else %}-->
                                                                <a href="{% url 'member_payment' membership_package.organisation_name member.id %}">
                                                                    <button class="btn btn-sm btn-rounded btn-light mr-1 mt-1" data-toggle="tooltip" data-placement="top" title="Card details not added">
                                                                        <i class="fad fa-credit-card-front text-danger"></i>
                                                                    </button>
                                                                </a>
                                                                <!--{% endif %}-->
                                                            {% endif %}
                                                        {% endfor %}
                                                        <a href="{% url 'member_form' membership_package.organisation_name member.id %}"><button class="btn btn-sm btn-rounded btn-light mr-1 mt-1" data-toggle="tooltip" title="Edit Member Details"><i class="fad fa-user-edit text-info"></i></button></a>
                                                        <button class="btn btn-sm btn-rounded btn-light mt-1 passRstBtnIn" value="{{ member.user_account.email }}" data-toggle="tooltip" title="Reset Password"><i class="fad fa-key text-success"></i></button>
                                                        <a href="javascript:removeMember({{ member.id }}, 'incompleteMembersTable');"><button class="btn btn-sm btn-rounded btn-light mt-1 removeUserBtn" data-toggle="tooltip" title="Remove Member" value="{{ member.id }}"><i class="fad fa-user-slash text-danger"></i></button></a>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <td colspan="4">No incomplete members</td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <h3 class="text-danger">Overdue Membership Applications</h3>
                                <div class="table-responsive" style="overflow: visible;">
                                    <table class="table table-bordered nowrap display" id="overdueMembersTable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Missed Payment</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for member, next_payment_date in overdue_members.items %}
                                                {% for subscription in member.subscription.all %}
                                                    {% if subscription.membership_package == membership_package %}
                                                        <tr>
                                                            <!-- id -->
                                                            <td>{{ subscription.membership_number }}</td>
                                                            <!-- name -->
                                                            <td>
                                                                <a href="{% url 'member_profile' member.id %}"><button class="btn waves-effect waves-light btn-rounded btn-sm btn-success">{{ member.user_account.get_full_name }}</button></a>
                                                            </td>
                                                            <!-- missed payment -->
                                                            <td>
                                                                £{{ subscription.price.amount|price }} due on {{ next_payment_date }}
                                                            </td>
                                                            <!-- action -->
                                                            <td>
                                                                <div class="btn-group dropleft">
                                                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Administer
                                                                    </button>
                                                                    <ul class="dropdown-menu" role="menu">
                                                                        <!-- payment page -->
                                                                        <li>
                                                                            {% if subscription.payment_method or subscription.stripe_subscription_id %}
                                                                                <a href="{% url 'member_payment' membership_package.organisation_name member.id %}" class="dropdown-item"><i class="fad fa-credit-card-front text-success mr-2"></i>Payment Page</a>
                                                                            {% else %}
                                                                                <a href="{% url 'member_payment' membership_package.organisation_name member.id %}" class="dropdown-item"><i class="fad fa-credit-card-front text-danger mr-2"></i>Payment Page</a>
                                                                            {% endif %}
                                                                        </li>
                                                                        <!-- member payments -->
                                                                        <li>
                                                                            <a href="{% url 'member_payments' membership_package.organisation_name member.id %}" class="dropdown-item"><i class="fad fa-money-check-edit-alt text-info mr-2"></i>Member Payments</a>
                                                                        </li>
                                                                        <!-- edit member -->
                                                                        <li>
                                                                            <a href="{% url 'member_form' membership_package.organisation_name member.id %}" class="dropdown-item"><i class="fad fa-user-edit text-info mr-2"></i>Edit Member</a>
                                                                        </li>
                                                                        <!-- reset password -->
                                                                        <li>
                                                                            <a href="javascript:resetMemberPwd('{{ member.user_account.email }}');" value="{{ member.user_account.email }}" class="dropdown-item"><i class="fad fa-key text-success mr-2"></i>Reset Password</a>
                                                                        </li>
                                                                        <!-- payment reminder -->
                                                                        <li>
                                                                            <a href="{% url 'payment_reminder' membership_package.organisation_name member.id %}" class="dropdown-item"><i class="fad fa-envelope-open-dollar mr-2"></i>Payment Reminder</a>
                                                                        </li>
                                                                        <!-- remove member -->
                                                                        <li>
                                                                            <a href="javascript:removeMember({{ member.id }}, 'overdueMembersTable');" value="{{ member.id }}" class="dropdown-item"><i class="fad fa-user-slash text-danger mr-2"></i>Remove Member</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                {% empty %}
                                                <td colspan="4">No overdue members</td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Tabs -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/custom-datatable.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('a[data-toggle="pill"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );
        } );
        $('#scroll_ver_hor').DataTable({
            "scrollY": 300,
            "scrollX": true
        });
    </script>
    <script>
        // create variable so that we are redirected back to this page
        var page = 'org';
        var members_table = $('#show_hide_col').DataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "scrollX": true,
            stateSave: true,
            "ajax": "{% url 'get_members' membership_package.organisation_name %}",
            "columns": [
                { data: "action" },
                { data: "id"},
                { data: "name",},
                { data: "email", "width": 20 },
                { data: "comments" },
                { data: "membership_type" },
                { data: "membership_status" },
            ],
            {% include 'membership_status_switch.js' %}
            colReorder: true,
            columnDefs: [
                { targets: 'no-sort', orderable: false },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-200'>" + data + "</div>";
                    },
                    targets: 4
                }
            ]
        });

    </script>

    <script>

        var removeMember = function (user_id, table_id) {
            $('#remove-member-modal').modal('show');
            $('#user-id').val(user_id);
            $('#table-id').val(table_id);
        }

        var resetMemberPwd = function (user_email) {
            $.ajax({
                url:"{% url 'account_reset_password' %}",
                type:"POST",
                data: {
                    "email": user_email,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
               success: function (){
                    infoMsg("Reset email sent successfully!");
               },
                error:function (er) {
                    errorMsg("Password reset failed!",er);
               }
            });
        }

        $('.passRstBtnCom, .passRstBtnIn').on('click',function(e){
            resetMemberPwd($(this).attr("value"));
        });
    </script>
    <script>
        <!-- edit comments -->
        var editComment = function (sub_id) {
            $.ajax({
                url:"/membership/edit-sub-comment/"+sub_id,
                type:"GET",
                success: function (data){
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                    } else {
                        $("textarea#commentField").val(result['comment']);
                        $("#save-comment").val(sub_id);
                        $('#comment-modal').modal('toggle');
                    }
                },
                error:function (er) {
                    errorMsg("Failed to edit comment!",er);
                }
            });

       }
       $("#save-comment").click(function(e){
            sub_id = $("#save-comment").val();
            $.ajax({
                url:"/membership/edit-sub-comment/"+sub_id,
                type: 'POST',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#commentForm').serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                    } else {
                        $('#comment-modal').modal('toggle');
                        infoMsg(result['message']);
                        members_table.ajax.reload()
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });
    </script>
{% endblock %}
