{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block content %}

<!-- Spinner Overlay -->
<div id="org-overlay-spinner" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-info">
            <div class="modal-body p-4">
                <div class="text-center">
                    <div id="spinner">
                        <div class="spinner-border" role="status">
                        </div>
                            <h3 class="text-white mt-2">Creating organisation...</h3>
                        </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">Membership Package Settings</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Your membership package settings</h4>
                    <h6 class="card-subtitle">Fill out the form below to create a new membership package.</h6>
                </div>
                <hr>
                <div id="formError" class="alert alert-danger col-lg-6 ml-2 d-none" role="alert"></div>
                <form class="form-horizontal" method="POST" action="{% url 'membership_package_settings' %}" id="membershipForm">
                    {% csrf_token %}
                    <div class="card-body">
                        <h4 class="card-title">Membership Package Detail</h4>
                        <div class="row">
                            {% for field in form %}
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label for="{{ field.id }}" class="col-sm-3 text-right control-label col-form-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                        <div class="col-sm-9">
                                            {% render_field field class+="" %}
                                            <small>{{ field.help_text }}</small>
                                            {% if field.errors %}
                                                <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                    <ul class="list-style-none">
                                                        {% for error in field.errors %}
                                                            <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        Pricing here: £20p/m
                        <div class="col-lg-6 offset-lg-3">
                            <form id="payment-form">
                                <label>Card Holders Name:</label>
                                <input id="cardholder-name" type="text" class="form-control" value="{{ user.get_full_name }}">
                                <!-- placeholder for Elements -->
                                <div id="card-element"></div>
                                <!-- Used to display Element errors. -->
                                <div id="card-errors" role="alert"></div>
                            </form>
                            <div class="text-center" id="cardTypes">
                                <img class="mt-2" src="{% static 'cloud-lines/images/cards/1.png' %}" alt="Card" style="max-height:50px">
                                <img class="mt-2" src="{% static 'cloud-lines/images/cards/2.png' %}" alt="Card" style="max-height:50px">
                                <img class="mt-2" src="{% static 'cloud-lines/images/cards/22.png' %}" alt="Card" style="max-height:50px">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-0 text-right">
                                <button id="save-membership" class="btn btn-info waves-effect waves-light">Start Membership Package</button>
                                <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-lg-6 offset-lg-3 d-flex justify-content-center">
                    <div id="spinner" class="d-none">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="result" class="d-none text-center">
                        <h2>Success!</h2>
                        <h6>Your new Membership Package is now active!</h6>
                        <p>Now you can access your membership administration page, first thing to do is enter your <span class="text-info">organisation details.</span></p>

                        <a href="#" target="_blank" id="receipt"><button type="button" id="receiptBtn" class="btn btn-dark">View Receipt</button></a>

                        <a href="#" id="goToOrgLink"><button type="button" class="btn btn-warning">Membership Admin</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Date Picker
        jQuery('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
    <script>
        $("#membershipForm").submit(function(e){
            e.preventDefault();
            submitPackageForm()
        });
        function submitPackageForm() {

            // Get form
            var form = $('#membershipForm')[0];

            // Create an FormData object
            var data = new FormData(form);

            $.ajax({
                url: '{% url 'membership_package_settings' %}',
                enctype: 'multipart/form-data',
                type: 'POST',
                processData: false,
                contentType: false,
                cache: false,
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: data,
                beforeSend: function() {
                    $('#org-overlay-spinner').modal('show');
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        // hide loader
                        $('#org-overlay-spinner').modal('hide');
                        $('#formError').removeClass('d-none');
                        $('#formError').html(result['errors']);
                    } else {
                        $('#membershipForm').addClass('d-none');
                        generateCardToken(data);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }

        // STRIPE STUFF
        var stripe = Stripe('{{ public_api_key }}');
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');


        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        var cardButton = document.getElementById('card-button');
        function generateCardToken() {
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    $('#org-overlay-spinner').modal('hide');
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        }

        function stripeTokenHandler(token) {

            // Submit the token
            $.ajax({
                url: '{% url 'organisation_payment' %}',
                type: 'post',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'token': token,
                    },
                beforeSend: function() {
                    $('#org-overlay-spinner').modal('show');
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    $('#org-overlay-spinner').modal('hide');
                    if (result.result == 'fail') {
                        $('#card-errors').html(result.feedback);
                    } else {
                        loadSuccessPage(result);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }

        function loadSuccessPage(result) {
            $('#org-overlay-spinner').modal('hide');
            $('#durationAndPayment').addClass('d-none');
            $('a[href="#finish"]').removeAttr('href');
            $('a[href="#previous"]').removeAttr('href');

            //update layout

            $('#result').removeClass('d-none');
            $('#receipt').attr("href", result.receipt);
            $('#goToOrgLink').attr"href", '/membership/org/'+$('#id_organisation_name').val());
        }(
    </script>
{% endblock %}