{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %}

{% include 'comments-modal.html' %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">{{ membership_package }} Members Detailed</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Members Detailed</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ package.organisation_name }} Members</h4>
                    <div class="mb-2">
                        Toggle columns: <a href="#!" class="toggle-vis" data-column="2"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Name</button></a>
                        <a href="#!" class="toggle-vis" data-column="3"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Email</button></a>
                        <a href="#!" class="toggle-vis" data-column="4"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Address</button></a>
                        <a href="#!" class="toggle-vis" data-column="5"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Contact</button></a>
                        <a href="#!" class="toggle-vis" data-column="6"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Membership Type</button></a>
                        <a href="#!" class="toggle-vis" data-column="7"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Payment Type</button></a>
                        <a href="#!" class="toggle-vis" data-column="8"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Billing Interval</button></a>
                        <a href="#!" class="toggle-vis" data-column="9"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Comments</button></a>
                        <a href="#!" class="toggle-vis" data-column="10"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Date Created</button></a>
                        <a href="#!" class="toggle-vis" data-column="11"><button class="btn btn-info" onclick="$(this).toggleClass('btn-info btn-dark');">Membership Expiry</button></a>
                    </div>
                    <div class="table-responsive">
                        <table id="show_hide_col" class="table table-striped table-bordered display no-wrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th class="no-sort">Action</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Membership Type</th>
                                    <th>Payment Method</th>
                                    <th>Billing Interval</th>
                                    <th>Comments</th>
                                    <th>Membership Start</th>
                                    <th>Membership Expiry</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Action</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Membership Type</th>
                                    <th>Payment Method</th>
                                    <th>Billing Interval</th>
                                    <th>Comments</th>
                                    <th>Membership Start</th>
                                    <th>Membership Expiry</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/custom-datatable.js' %}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script>
        var members_table = $('#show_hide_col').DataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "ajax": "{% url 'get_members_detailed' membership_package.organisation_name %}",
            "columns": [
                { data: "action" },
                { data: "id" },
                { data: "name" },
                { data: "email" },
                { data: "address" },
                { data: "contact" },
                { data: "membership_type" },
                { data: "payment_method" },
                { data: "billing_interval" },
                { data: "comments" },
                { data: "membership_start" },
                { data: "membership_expiry" },
            ],
            dom: "Bfrltip",
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            columnDefs: [
                { targets: 'no-sort', orderable: false },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-200'>" + data + "</div>";
                    },
                    targets: 9
                }
            ],
            action: function ( e, dt, button, conf ) {
               var col = dt.columns( conf.columns );
               var curr = col.visible();

               col.visible( conf.visibility !== undefined ?
                               conf.visibility :
                               ! (curr.length ? curr[0] : false )
               );
               this.active( col.visible() );   // added this line
            }
        });


        $('a.toggle-vis').on('click', function(e) {
            e.preventDefault();

            // Get the column API object
            /*var column = table.column($(this).attr('data-column'));*/
            var column = $('#show_hide_col').dataTable().api().column($(this).attr('data-column'));
            // Toggle the visibility
            column.visible(!column.visible());
        });
    </script>
    <script>
        <!-- edit comments -->
        var editComment = function (sub_id) {
            $.ajax({
                url:"/membership/edit-sub-comment/"+sub_id,
                type:"GET",
                success: function (data){
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                    } else {
                        $("textarea#commentField").val(result['comment']);
                        $("#save-comment").val(sub_id);
                        $('#comment-modal').modal('toggle');
                    }
                },
                error:function (er) {
                    errorMsg("Failed to edit comment!",er);
                }
            });

       }
       $("#save-comment").click(function(e){
            sub_id = $("#save-comment").val();
            $.ajax({
                url:"/membership/edit-sub-comment/"+sub_id,
                type: 'POST',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#commentForm').serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                    } else {
                        $('#comment-modal').modal('toggle');
                        infoMsg(result['message']);
                        members_table.ajax.reload()
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });
    </script>
{% endblock %}