{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
{% endblock %}

{% block content %}

<!-- Modal to remove member -->
<div id="remove-member-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="remove-member-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger">
                <h4 class="modal-title text-white" id="remove-member-modalLabel">Remove Member</h4>
                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Exit Window" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this member from {{ membership_package.organisation_name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <a id="removeUserUrl" href="">
                    <button type="button" class="btn btn-danger">Continue</button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal to update membership status -->
<div id="update-membership-status-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="update-membership-statusLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger">
                <h4 class="modal-title text-white" id="update-membership-statusLabel">Update Membership Status</h4>
                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Exit Window" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to update the status of the membership for this member?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelStatusModal" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <a id="updateStatusUrl" href="">
                    <button type="button" class="btn btn-danger">Continue</button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% include 'comments-modal.html' %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-7 align-self-center">
            <h4 class="page-title">Membership Package</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Package</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-5 align-self-center d-none d-md-block">
            {% if stripe_package_setup %}
                <div class="alert alert-warning float-right" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe to set up your membership details.
                </div>

            {% endif %}
            {% if account_link %}
                <div class="alert alert-warning float-right" role="alert">
                    <i class="dripicons-wrong mr-2"></i> <strong>Notice!</strong> Please head to Stripe for more information.
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex no-block">
                        <h4 class="card-title">{{ membership_package.organisation_name }}</h4>
                        <div class="ml-auto">
                            {% if stripe_package_setup %}
                            <a href="{{ stripe_package_setup.url }}">
                                <button type="button" class="btn btn-warning mb-2" style="width: 100%">
                                    Continue Setup on Stripe
                                </button>
                            </a>
                            {% elif account_link %}
                                <a href="{{ account_link.url }}">
                                    <button type="button" class="btn btn-warning mb-2" style="width: 100%">
                                        Action Required on Stripe
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-bordered mb-3 customtab" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-membership-tab" data-toggle="pill"
                               href="#members-overview" role="tab" aria-controls="pills-members-tab" aria-selected="true">
                                <i class="fad fa-users d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block"><i class="fad fa-users mr-2"></i>Members</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-reports-tab" data-toggle="pill"
                               href="#reports" role="tab" aria-controls="pills-account-tab" aria-selected="false">
                                <i class="fad fa-clipboard d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block"><i class="fad fa-analytics mr-2"></i>Reports</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-account-tab" data-toggle="pill"
                               href="#account-overview" role="tab" aria-controls="pills-account-tab" aria-selected="false">
                                <i class="fad fa-clipboard d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block"><i class="fad fa-clipboard-list-check mr-2"></i>Account</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-account-tab" data-toggle="pill"
                               href="#donation" role="tab" aria-controls="pills-account-tab" aria-selected="false">
                                <i class="fad fa-clipboard d-lg-none d-block mr-1"></i>
                                <span class="d-none d-lg-block"><i class="fad fa-envelope-open-dollar mr-2"></i>Donation</span></a>
                        </li>
                    </ul>
                    <!-- Tabs -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="members-overview" role="tabpanel" aria-labelledby="pills-members-tab">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center mb-4">
                                    <div class="ml-auto">
                                        <div class="btn-list">
                                            {% if not stripe_package_setup %}
                                                <a href="{% url 'member_form' membership_package.organisation_name 0 %}">
                                                    <button type="button" class="btn btn-success">
                                                        Add New Member
                                                    </button>
                                                </a>
                                            {% else %}
                                                <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Cannot add new members until setup is completed.">
                                                    Add New Member
                                                </button>
                                            {% endif %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Manage
                                                </button>
                                                <div class="dropdown-menu" style="">
                                                    <a class="dropdown-item" href="{% url 'manage_admins' membership_package.organisation_name %}">Admins</a>
                                                    <a class="dropdown-item" href="{% url 'manage_membership_types' membership_package.organisation_name %}">Membership Types</a>
                                                    <a class="dropdown-item" href="{% url 'manage_payment_methods' membership_package.organisation_name %}">Payment Methods</a>
                                                    <a class="dropdown-item" href="{% url 'manage_custom_fields' membership_package.organisation_name %}">Custom Fields</a>
                                                    <a class="dropdown-item" href="{% url 'members_detailed' membership_package.organisation_name %}">Members Detailed</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="text-success">Complete Membership Applications</h3>
                                <div class="table-responsive" style="overflow: visible;">
                                    <table id="default_order" class="table table-striped table-bordered display no-wrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Comments</th>
                                                <th>Membership Type</th>
                                                <th class="no-sort">Membership Status</th>
                                                <th class="no-sort">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <hr>
                                <h3 class="text-danger">Incomplete Membership Applications</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap display" id="incompleteMembersTable">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Membership Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for member in incomplete_members.all %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'member_profile' member.id %}"><button class="btn waves-effect waves-light btn-rounded btn-sm btn-success">{{ member.user_account.get_full_name }}</button></a>
                                                    </td>
                                                    <td>{{ member.user_account.email }}</td>
                                                    <td>
                                                        <span class="badge py-1 badge-danger">
                                                            No membership selected
                                                        </span>
                                                    </td>
                                                    <td>
                                                        {% for subscription in member.subscription.all %}
                                                            {% if subscription.membership_package == membership_package %}
                                                                <!--{% if subscription.payment_method or subscription.stripe_subscription_id %}
                                                                    <a href="{% url 'member_payment' membership_package.organisation_name member.id %}">
                                                                        <button class="btn btn-sm btn-rounded btn-light mr-1 mt-1">
                                                                            <i class="fad fa-credit-card-front text-success"></i>
                                                                        </button>
                                                                    </a>
                                                                {% else %}-->
                                                                <a href="{% url 'member_payment' membership_package.organisation_name member.id %}">
                                                                    <button class="btn btn-sm btn-rounded btn-light mr-1 mt-1" data-toggle="tooltip" data-placement="top" title="Card details not added">
                                                                        <i class="fad fa-credit-card-front text-danger"></i>
                                                                    </button>
                                                                </a>
                                                                <!--{% endif %}-->
                                                            {% endif %}
                                                        {% endfor %}
                                                        <a href="{% url 'member_form' membership_package.organisation_name member.id %}"><button class="btn btn-sm btn-rounded btn-light mr-1 mt-1" data-toggle="tooltip" title="Edit Member Details"><i class="fad fa-user-edit text-info"></i></button></a>
                                                        <button class="btn btn-sm btn-rounded btn-light mt-1 passRstBtnIn" value="{{ member.user_account.email }}" data-toggle="tooltip" title="Reset Password"><i class="fad fa-key text-success"></i></button>
                                                        <button class="btn btn-sm btn-rounded btn-light mt-1 removeUserBtn" data-toggle="tooltip" title="Remove Member" value="{{ member.id }}"><i class="fad fa-user-slash text-danger"></i></button>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <td colspan="4">No incomplete members</td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Tabs -->
                        <div class="tab-pane" id="reports" role="tabpanel">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-info text-center">
                                                <h1 class="font-weight-light text-white">{{ members.count }}</h1>
                                                <h6 class="text-white">Total Members</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-danger text-center">
                                                <h1 class="font-weight-light text-white">{{ incomplete_members.count }}</h1>
                                                <h6 class="text-white">Incomplete Members</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-success text-center">
                                                <h1 class="font-weight-light text-white">{{ stripe_members }}</h1>
                                                <h6 class="text-white">Stripe Subscriptions</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card">
                                            <div class="box p-2 rounded bg-warning text-center">
                                                <h1 class="font-weight-light text-white"></h1>
                                                <h6 class="text-white">More Coming Soon!</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabs -->
                        <div class="tab-pane" id="account-overview" role="tabpanel">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center mb-4">
                                    <div class="ml-auto">
                                        <a href="{{ edit_account.url }}">
                                            <button type="button" class="btn btn-info" style="width: 100%">
                                                <i class="fad fa-pencil-alt mr-2"></i> Edit Package
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <h3 class="text-dark">Account Overview</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap display" id="accountOverviewTable">
                                        <thead>
                                            <tr>
                                                <th>Package Title</th>
                                                <th>Country</th>
                                                <th>Default Currency</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ stripe_package.business_profile.name|title }}</td>
                                                <td>{{ stripe_package.country }}</td>
                                                <td>{{ stripe_package.default_currency }}</td>
                                                <td>{{ stripe_package.email }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <h3 class="text-dark">Account Overview</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap display" id="accountDetailsTable">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Bank Name</th>
                                                <th>Country</th>
                                                <th>Currency</th>
                                                <th>Last 4</th>
                                                <th>Sort Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% if stripe_package.external_accounts.data %}
                                                <td>{{ stripe_package.external_accounts.data.0.status }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.bank_name }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.country }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.currency }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.last4 }}</td>
                                                <td>{{ stripe_package.external_accounts.data.0.routing_number }}</td>
                                                {% else %}
                                                    <td align="left" colspan="6">Please continue setup on stripe.</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Button to delete organisation -->
                                {% if request.user == membership_package.owner and members == 0  %}
                                    <div class="boarder-bottom p-3">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-org-modal" style="width: 100%">Delete Organisation</button>
                                    </div>
                                    <!-- Modal to delete organisation -->
                                    <div id="delete-org-modal" class="modal fade" tabindex="-1" role="dialog"
                                         aria-labelledby="delete-org-modalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header modal-colored-header bg-danger">
                                                    <h4 class="modal-title text-white" id="delete-org-modalLabel">
                                                        Delete Organisation</h4>
                                                    <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip"
                                                            title="Exit Window" aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete
                                                        {{ membership_package.organisation_name }}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                                    <a href="{% url 'delete_membership_package'
                                                     membership_package.organisation_name %}">
                                                        <button type="button" class="btn btn-danger">Continue</button>
                                                    </a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endif %}
                            </div>
                        </div>
                        <!-- Tabs -->
                        <div class="tab-pane" id="donation" role="tabpanel">
                            <div class="card-body">
                                <h4 class="card-title">Donation Button</h4>
                                <p>
                                    To insert a button in your website that allows your viewers to easily make a donation to {{ membership_package.organisation_name }}, choose which of the buttons below would fit well into your website. Then, click that button to copy a code snippet to clipboard so it can be pasted into your website HTML.
                                </p>
                                <!-- pink -->
                                <div class="mb-3">
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="25px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 25px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="21px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 21px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="18px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 18px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#AD4675" colour="#FFFFFF" fontSize="15px" class="copy-btn" style="border:none; background-color:#AD4675; color:#FFFFFF; font-size: 15px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                </div>
                                <!-- teal -->
                                <div class="mb-3">
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="25px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 25px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="21px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 21px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="18px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 18px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#44AAAC" colour="#FFFFFF" fontSize="15px" class="copy-btn" style="border:none; background-color:#44AAAC; color:#FFFFFF; font-size: 15px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                </div>
                                <!-- light grey -->
                                <div class="mb-3">
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="25px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 25px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="21px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 21px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="18px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 18px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                    <button bgColour="#E8F3F5" colour="#000000" fontSize="15px" class="copy-btn" style="border:none; background-color:#E8F3F5; color:#000000; font-size: 15px; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button>
                                </div>
                                <p>
                                    Alternatively, if you would like to share your donation link in another way, here it is:<br/>
                                    <a id="donation-url" href="{{ donation_url }}" target="_blank">{{ donation_url }}</a>
                                    <span id="copy-link" class="ml-2" data-toggle="tooltip" title="Copy link to clipboard" style="cursor:pointer"><i class="fad fa-copy"></i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Tabs -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/datatable/custom-datatable.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('a[data-toggle="pill"]').on( 'shown.bs.tab', function (e) {
                $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            } );
        } );
        $('#scroll_ver_hor').DataTable({
            "scrollY": 300,
            "scrollX": true
        });
    </script>
    <script>
        var members_table = $('#default_order').DataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "ajax": "{% url 'get_members' membership_package.organisation_name %}",
            "columns": [
                { data: "id"},
                { data: "name",},
                { data: "email", "width": 20 },
                { data: "comments" },
                { data: "membership_type" },
                { data: "membership_status" },
                { data: "action" },
            ],
            drawCallback: function () {
                $('.membership-status').bootstrapSwitch({
                    onSwitchChange: function() {
                        var memberId = parseInt($(this).attr('value'));
                        var status = 'False';
                        if($(this).is(':checked')){
                            var status = 'True';
                        }

                        $('#update-membership-status-modal').modal('show');
                        $('#updateStatusUrl').attr("href", "/membership/update-membership-status/"+memberId+"/"+status+"/{{ membership_package.organisation_name }}");

                        $(this).bootstrapSwitch('toggleState', true, true);


                    }
                });
            },
            colReorder: true,
            columnDefs: [
                { targets: 'no-sort', orderable: false },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-200'>" + data + "</div>";
                    },
                    targets: 3
                }
            ]
        });

    </script>

    <script>

        var removeMember = function (user_id) {
            $('#remove-member-modal').modal('show');
            $('#removeUserUrl').attr("href", "/membership/remove-member/{{ membership_package.organisation_name }}/" + user_id);
        }

        $('.removeUserBtn').on('click',function(){
            removeMember($(this).attr("value"));
        });

        var resetMemberPwd = function (user_email) {
            $.ajax({
                url:"{% url 'account_reset_password' %}",
                type:"POST",
                data: {
                    "email": user_email,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
               success: function (){
                    infoMsg("Reset email sent successfully!");
               },
                error:function (er) {
                    errorMsg("Password reset failed!",er);
               }
            });
        }

        $('.passRstBtnCom, .passRstBtnIn').on('click',function(e){
            resetMemberPwd($(this).attr("value"));
        });
    </script>
    <script>
        <!-- edit comments -->
        var editComment = function (sub_id) {
            $.ajax({
                url:"/membership/edit-sub-comment/"+sub_id,
                type:"GET",
                success: function (data){
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                    } else {
                        $("textarea#commentField").val(result['comment']);
                        $("#save-comment").val(sub_id);
                        $('#comment-modal').modal('toggle');
                    }
                },
                error:function (er) {
                    errorMsg("Failed to edit comment!",er);
                }
            });

       }
       $("#save-comment").click(function(e){
            sub_id = $("#save-comment").val();
            $.ajax({
                url:"/membership/edit-sub-comment/"+sub_id,
                type: 'POST',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#commentForm').serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                    } else {
                        $('#comment-modal').modal('toggle');
                        infoMsg(result['message']);
                        members_table.ajax.reload()
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });
    </script>
    <script>
        // call copyToCB function based on which button the user as clicked
        $('.copy-btn').on('click',function(e){
            var snippet = '<a href="{{ donation_url }}"><button style="border: none; background-color: ' + $(this).attr('bgColour') + '; color: ' + $(this).attr('colour') + '; font-size: ' + $(this).attr('fontSize') + '; font-family: Arial, Helvetica, Verdana;border-radius: 4px">Donate</button></a>';
            
            copyToCB(snippet);
        });

        // call copyToCB using donation url
        $('#copy-link').on('click',function(e){
            copyToCB('{{ donation_url }}');
        });

        // copy text to user's clipboard
        function copyToCB(text){
            var textArea = document.createElement("textarea");
            textArea.display = 'none';
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("Copy");
            textArea.remove();
        }
    </script>
{% endblock %}
