{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}

{% include 'spinner-overlay.html' with msg='Creating Member Payment...' %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">{{ membership_package }} Member Payment Details</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Member Payment Details</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ package.organisation_name }} Member Payment Information</h4>
                    <div class="row mt-4" id="existing-customer-details">
                        <div class="col-lg-6 offset-lg-3">
                            <form id="membershipInfoForm">
                                <div class="row pt-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4 class="card-title">Select Membership Type*</h4>
                                            {% for type in membership_types_list %}
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="{{ type.id }}" name="membership_type" class="custom-control-input" value="{{ type.id }}"{% if subscription.price.stripe_price_id == type.id %}checked{% endif %}>
                                                    <!-- interval or one time -->
                                                    {% if type.type == 'recurring' %}
                                                        <label class="custom-control-label" for="{{ type.id }}">{{ type.nickname }} - {{ type.recurring.interval|title }}ly - <span class="text-info">£{{ type.unit_amount|price }}</span></label>
                                                    {% else %}
                                                        <label class="custom-control-label" for="{{ type.id }}">{{ type.nickname }} - One Time - <span class="text-info">£{{ type.unit_amount|price }}</span></label>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4 class="card-title">Select Payment Method*</h4>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="card-payment" name="payment_method" class="custom-control-input payment_method" value="Card Payment"{% if not subscription.payment_method %}checked{% endif %}>
                                                <label class="custom-control-label" for="card-payment"><span class="text-info">Card Payment</span></label>
                                            </div>
                                            {% for type in payment_methods.all %}
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="{{ type.id }}" name="payment_method" class="custom-control-input payment_method" value="{{ type.payment_name }}"{% if subscription.payment_method.payment_name == type.payment_name %}checked{% endif %}>
                                                    <label class="custom-control-label" for="{{ type.id }}"><span class="text-info">{{ type.payment_name }}</span> {% if not type.visible %}<small style="font-style: italic;" class="text-danger">Hidden from members</small>{% endif %}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="result" class="d-none text-center">
                    <h2>Success!</h2>
                    <h6>Membership is now active!</h6>
                    <a href="#" target="_blank" id="receipt"><button type="button" id="receiptBtn" class="btn btn-dark mt-2 mb-2">View Receipt</button></a>
                    <a href="#" id="goToMemberPageLink"><button type="button" class="btn btn-warning mt-2 mb-2">Member Page</button></a>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <form id="payment-form">
                        <label>Card Holders Name:</label>
                        <input id="cardholder-name" type="text" class="form-control" value="{{ user.get_full_name }}">
                        <!-- placeholder for Elements -->
                        <div id="card-element"></div>
                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>
                        <div class="text-center" id="cardTypes">
                            <img class="mt-2" src="{% static 'cloud-lines/images/cards/1.png' %}" alt="Card" style="max-height:50px">
                            <img class="mt-2" src="{% static 'cloud-lines/images/cards/2.png' %}" alt="Card" style="max-height:50px">
                            <img class="mt-2" src="{% static 'cloud-lines/images/cards/22.png' %}" alt="Card" style="max-height:50px">
                        </div>
                    </form>
                </div>

                <div class="card-body" id="payment-buttons">
                    <div class="form-group mb-0 text-right">
                        <button id="save-membership" class="btn btn-info waves-effect waves-light">Make Payment</button>
                        <a href="{% url 'membership_package' package.organisation_name %}" class="btn btn-dark waves-effect waves-light">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Date Picker
        jQuery('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
    <script>
        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }

        $(document).ready(function() {
            if ($('input[name="payment_method"]:checked').val() != "Card Payment") {
                    $('#payment-form').hide();
                    $("#save-membership").html("Confirm");
                }
        });

        $('.payment_method').change(function() {
            if (this.value != "Card Payment") {
                $('#payment-form').fadeOut(400);
                $("#save-membership").html("Confirm");
            } else {
                $('#payment-form').fadeIn(400);
                $("#save-membership").html("Make Payment");
            }
        });

        $("#save-membership").click(function(e){
            $('#overlay-spinner').modal();
            e.preventDefault();
            sleep(2000).then(() => {
                update_membership_type()
            });
            
        });

        function update_membership_type() {
            $.ajax({
                url: '{% url 'update_membership_type' package.organisation_name member.id %}',
                enctype: 'multipart/form-data',
                type: 'POST',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#membershipInfoForm').serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        errorMsg(result['message']);
                        $('#overlay-spinner').modal('hide');
                    } else {
                        if (result['redirect'] == true) {
                            $('#overlay-spinner').modal('hide');
                            infoMsg("Payment Method saved, redirecting.");
                            sleep(2000).then(() => {
                                window.location.replace("{% url 'membership_package' package.organisation_name %}");
                            });
                        } else {
                            generateCardToken(result['old_price']);
                        }
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        }

        // STRIPE STUFF
        var stripe = Stripe('{{ public_api_key }}');
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '24px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');


        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
            $('#overlay-spinner').modal('hide');
          } else {
            displayError.textContent = '';
          }
        });

        // Create a token or display an error when the form is submitted.
        function generateCardToken(old_price) {
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    $('#overlay-spinner').modal('hide');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token, old_price);
                }
            });
        }

        function stripeTokenHandler(token, old_price) {

            // Submit the token
            $.ajax({
                url: '{% url 'member_payment' package.organisation_name member.id %}',
                type: 'post',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'token': token,
                    'old_price': old_price,
                    },
                beforeSend: function() {
                    $('#paymentSuccess').addClass('d-none');
                    $('#paymentFail').addClass('d-none');
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result.result == 'fail') {
                        $('#overlay-spinner').modal('hide');
                        $('#card-errors').html(result.feedback);
                    } else {
                        $('#existing-customer-details').addClass('d-none');
                        $('#payment-form').addClass('d-none');
                        $('#payment-buttons').addClass('d-none');
                        loadSuccessPage(result);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }

        function loadSuccessPage(result) {
            $('#overlay-spinner').modal('hide');

            //update layout
            $('#result').removeClass('d-none');
            $('#receipt').attr("href", result.receipt);
            $('#goToMemberPageLink').attr("href", '/membership/member-profile/{{ member.pk }}');
        }
    </script>
{% endblock %}