<div class="btn-list">
    <div class="btn-group">
        {% if not stripe_package_setup %}
            <a href="{% url 'member_form' membership_package.organisation_name 0 %}">
                <button type="button" class="btn btn-success">
                    Add New Member
                </button>
            </a>
        {% else %}
            <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Cannot add new members until setup is completed.">
                Add New Member
            </button>
        {% endif %}
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
        </button>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="{% url 'manage_admins' membership_package.organisation_name %}">Admins</a>
            <a class="dropdown-item" href="{% url 'manage_membership_types' membership_package.organisation_name %}">Membership Types</a>
            <a class="dropdown-item" href="{% url 'manage_payment_methods' membership_package.organisation_name %}">Payment Methods</a>
            <a class="dropdown-item" href="{% url 'manage_custom_fields' membership_package.organisation_name %}">Custom Fields</a>

        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Payments
        </button>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="{% url 'payments_detailed' membership_package.organisation_name %}">Payments Detailed</a>
            <a class="dropdown-item" href="{% url 'manage_payment_reminder' membership_package.organisation_name %}">Payment Reminder</a>
        </div>
    </div>

    <a href="{% url 'members_detailed' membership_package.organisation_name %}"><button class="btn btn-info" type="button">Members Detailed</button></a>
</div>