{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}

{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% block content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">{{ membership_package }} Member Payment Form</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% if membership_packages %}
                            <li class="breadcrumb-item"><a href="{% url 'membership' %}">Membership</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Member Payment Form</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Member Form</h4>
                    <h6 class="card-subtitle">Fill out the form below to add a new member to your organisation.</h6>
                </div>
                <hr>

                <form id="memberForm" class="form-horizontal" action="{% url 'member_payment_form' membership_package.organisation_name member.id %}" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <h4 class="card-title">Details</h4>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.payment_method.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.payment_method.label }}{% if form.payment_method.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.payment_method class+="form-control" %}
                                        <small>{{ form.payment_method.help_text }}</small>
                                        {% if form.payment_method.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.payment_method.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.type.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.type.label }}{% if form.type.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.type class+="form-control" id="type" %}
                                        <small>{{ form.type.help_text }}</small>
                                        {% if form.type.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.type.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.amount.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.amount.label }}{% if form.amount.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.amount class+="form-control" id="amount" value=sub_amount readonly="" %}
                                        <div id="partial_section"><small>Is this a partial payment?</small><input id="partial_checkbox" type="checkbox" class="mt-1 ml-1"></div>
                                        <small>{{ form.amount.help_text }}</small>
                                        {% if form.amount.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.amount.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.comments.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.comments.label }}{% if form.comments.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.comments class+="form-control" %}
                                        <small>{{ form.comments.help_text }}</small>
                                        {% if form.comments.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.comments.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.created.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.created.label }}{% if form.created.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.created class+="form-control" %}
                                        <small>{{ form.created.help_text }}</small>
                                        {% if form.created.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.created.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.gift_aid.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.gift_aid.label }}{% if form.gift_aid.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.gift_aid class+="form-control" %}
                                        <small>{{ form.gift_aid.help_text }}</small>
                                        {% if form.gift_aid.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.gift_aid.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label for="{{ form.gift_aid_percentage.id }}" class="col-sm-3 text-right control-label col-form-label">{{ form.gift_aid_percentage.label }}{% if form.gift_aid_percentage.field.required %}*{% endif %}</label>
                                    <div class="col-sm-9">
                                        {% render_field form.gift_aid_percentage class+="form-control" %}
                                        <small>{{ form.gift_aid_percentage.help_text }}</small>
                                        {% if form.gift_aid_percentage.errors %}
                                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                                <ul class="list-style-none">
                                                    {% for error in form.gift_aid_percentage.errors %}
                                                        <li><i class="fad fa-times-circle text-danger"></i> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="form-group mb-0 text-right">
                                <button id="save-member" class="btn btn-info waves-effect waves-light">Save</button>
                                <a href="{% url 'membership' %}" class="btn btn-dark waves-effect waves-light">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>
{% endblock %}
{% block footer %}
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        // Date Picker
        jQuery('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>

    <!-- Set amount to subscription amount if type set to subscription -->
    <script>
        $('#type').change(function(e){
            if ($(this).val() == 'subscription') {
                // Set and lock amount
                $('#amount').val('{{ sub_amount }}');
                $('#amount').attr('readonly', '');

                // Display partial payment ticbox
                $('#partial_section').removeClass('d-none');
            } else {
                // Unlock amount
                $('#amount').removeAttr('readonly');

                // Remove partial payment tickbox
                $('#partial_section').addClass('d-none');
                $('#partial_checkbox').prop("checked", false);
            }
        });
    </script>
{% endblock %}
