<!-- Modal to remove member -->
<div id="remove-member-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="remove-member-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger">
                <h4 class="modal-title text-white" id="remove-member-modalLabel">Remove Member</h4>
                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" title="Exit Window" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this member from {{ membership_package.organisation_name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="continue">Continue</button>
                <input id="user-id" type="hidden">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- POST request to remove user -->
<script>
    $('#continue').click(function(e){
        $.ajax({
            url: "{% url 'remove_member' membership_package.organisation_name %}",
            type: 'POST',
            dataType: 'text',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: {
                'user_id': $("#user-id").val(),
            },
            beforeSend: function() {
                //$('#overlay-spinner').modal();
                $('#remove-member-modal').modal('hide');
            },
            success: function (data) {
                var result = JSON.parse(data);
                
                if (result['status'] == "fail") {
                    errorMsg(result['message']);
                    //$('#overlay-spinner').modal('hide');
                } else {
                    $('#show_hide_col').DataTable().ajax.reload(null, false);
                    //$('#overlay-spinner').modal('hide');
                }
                //$('#overlay-spinner').modal('hide');
            }
        })
    });
</script>