{% extends 'login_base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div>
        <div class="col-md-12">
            <div class="row">
                <h3 class="color">Reset Password</h3>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            </div>
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
						<div class="fieldWrapper">
							{% if field.help_text %}
								<small>{{ field.help_text }}</small>
							{% endif %}
							<label for="{{ field.id }}" class="control-label col-form-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
							{% render_field field class+="form-control" %}

							<i class="text-danger">{{ field.errors }}</i>
						</div>
					{% endfor %}
                    <input type="submit" class="btn btn-info mt-2" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}