{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <script src="https://kit.fontawesome.com/e1cfa067bf.js" crossorigin="anonymous"></script>
    <title>Memberships</title>

    <!-- Custom CSS -->
    <link href="{% static 'assets/extra-libs/toastr/dist/build/toastr.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">

    {% block header %}

    {% endblock %}

    {% include 'css.html' %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Spinner Overlay -->
    <div id="donation-overlay-spinner" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal-filled bg-info">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <div id="spinner">
                            <div class="spinner-border" role="status"></div>
                                <h3 class="text-white mt-2">Processing donation...</h3>
                            </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- assets/images/cloud-lines-logo-teal-transparent.png -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <i class="fad fa-clouds dark-logo text-success"></i>
                            <!-- Light Logo icon -->
                            <i class="fad fa-clouds fa-2x text-white light-logo text-success"></i>
                        </b>
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="icon-arrow-left-circle"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
<!--                        <li class="nav-item dropdown">-->
<!--                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>-->
<!--                                 <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>-->
<!--                            </a>-->
<!--                            <div class="dropdown-menu mailbox animated bounceInDown">-->
<!--                                <ul class="list-style-none">-->
<!--                                    <li>-->
<!--                                        <div class="font-weight-medium border-bottom rounded-top py-3 px-4">-->
<!--                                            Notifications-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="message-center notifications position-relative" style="height:250px;">-->
<!--                                            &lt;!&ndash; Message &ndash;&gt;-->
<!--                                            <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">-->
<!--                                                <span class="btn btn-danger rounded-circle btn-circle"><i class="fa fa-link"></i></span>-->
<!--                                                <div class="w-75 d-inline-block v-middle pl-2">-->
<!--                                                    <h5 class="message-title mb-0 mt-1">Luanch Admin</h5> <span class="font-12 text-nowrap d-block text-muted text-truncate">Just see the my new admin!</span> <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span> </div>-->
<!--                                            </a>-->
<!--                                            &lt;!&ndash; Message &ndash;&gt;-->
<!--                                            <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">-->
<!--                                                <span class="btn btn-success rounded-circle btn-circle"><i class="ti-calendar"></i></span>-->
<!--                                                <div class="w-75 d-inline-block v-middle pl-2">-->
<!--                                                    <h5 class="message-title mb-0 mt-1">Event today</h5> <span class="font-12 text-nowrap d-block text-muted text-truncate">Just a reminder that you have event</span> <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span> </div>-->
<!--                                            </a>-->
<!--                                            &lt;!&ndash; Message &ndash;&gt;-->
<!--                                            <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">-->
<!--                                                <span class="btn btn-info rounded-circle btn-circle"><i class="ti-settings"></i></span>-->
<!--                                                <div class="w-75 d-inline-block v-middle pl-2">-->
<!--                                                    <h5 class="message-title mb-0 mt-1">Settings</h5> <span class="font-12 text-nowrap d-block text-muted text-truncate">You can customize this template as you want</span> <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span> </div>-->
<!--                                            </a>-->
<!--                                            &lt;!&ndash; Message &ndash;&gt;-->
<!--                                            <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">-->
<!--                                                <span class="btn btn-primary rounded-circle btn-circle"><i class="ti-user"></i></span>-->
<!--                                                <div class="w-75 d-inline-block v-middle pl-2">-->
<!--                                                    <h5 class="message-title mb-0 mt-1">Pavan kumar</h5> <span class="font-12 text-nowrap d-block text-muted text-truncate">Just see the my admin!</span> <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span> </div>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a class="nav-link border-top text-center text-dark pt-3" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                        &lt;!&ndash; End Comment &ndash;&gt;-->
<!--                        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                        &lt;!&ndash; mega menu &ndash;&gt;-->
<!--                        &lt;!&ndash; ============================================================== &ndash;&gt;-->
                        <li class="nav-item dropdown mega-dropdown"><a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class=""><i class="mdi mdi-view-grid"></i></span>
                            </a>
                        <form method="POST" action="{% url 'donation_payment' %}" id="donationForm">
                        {% csrf_token %}
                            <div class="dropdown-menu animated bounceInDown">
                                <div class="mega-dropdown-menu row">
                                    <div class="col-lg-3 col-xlg-2 mb-4">
                                        <h4 class="mb-3">SELECT ORGANISATION</h4>
                                        <!-- CAROUSEL -->
                                        <div class="input-group d-flex">
                                            <div id="orgs">
                                                <input class="typeahead1 form-control" type="text" id="organisations" name="donate-organisation" placeholder="Type organisation name">
                                            </div>
                                            <button type="button" class="btn btn-sm btn-info" id="selectDonOrg"><i class="fad fa-users mr-1"></i>Select</button>
                                            <button type="button" class="btn btn-sm btn-info d-none" id="changeDonOrg"><i class="fad fa-users mr-1"></i>Change</button>
                                            <span id="org-error" style="color:red; font-size: small;"></span>
                                            <span id="org-success" style="color:green; font-size: small;"></span>
                                        </div>
                                        <!-- End CAROUSEL -->
                                    </div>
                                    <div class="col-lg-3  mb-4">
                                        <h4 class="mb-3">DONATION DETAILS</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="donator-full-name" value="{{ request.user.get_full_name }}"> </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="donator-email" value="{{ request.user.email }}"> </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-3 col-xlg-4 mb-4 offset-lg-0">
                                        <h4 class="mb-3">PAYMENT DETAILS</h4>
                                        <!-- List style -->
                                            <form id="donation-payment-form">
                                                <label>Card Holders Name:</label>
                                                <input id="cardholder-name" type="text" class="form-control" value="{{ request.user.get_full_name }}">
                                                <!-- placeholder for Elements -->
                                                <div id="donation-card-element"></div>
                                                <!-- Used to display Element errors. -->
                                                <div id="donation-card-errors" role="alert"></div>
                                                <div class="text-right mt-3" id="cardTypes" style="margin:0 auto;">
                                                    <img src="{% static 'cloud-lines/images/cards/1.png' %}" alt="Card" style="max-height:32px">
                                                    <img src="{% static 'cloud-lines/images/cards/2.png' %}" alt="Card" style="max-height:32px">
                                                    <img src="{% static 'cloud-lines/images/cards/22.png' %}" alt="Card" style="max-height:32px">
                                                </div>
                                                <div class="text-left mt-0" style="margin:0 auto;">
                                                    <label for="donation-amount">Amount:</label>
                                                    <input id="donation-amount" type="text" value="" maxlength="4" size="4">
                                                </div>
                                                <div class="card-body" id="donation-payment-buttons">
                                                    <div class="form-group mb-0 text-right">
                                                        <button id="save-donation" class="btn btn-info waves-effect waves-light d-none">Donate!</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                        </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class=" d-none d-md-block">

                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.get_full_name }}<i class="fad fa-user rounded-circle ml-2 text-dark"></i></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                                    <div class="u-img"><i class="fad fa-user-circle text-success fa-4x"></i></div>
                                    <div class="ml-2">
                                        <h4 class="mb-0">{{ request.user.get_full_name }}</h4>
                                        <p class=" mb-0">{{ request.user.email }}</p>
<!--                                        <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>-->
                                    </div>
                                </div>
<!--                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings mr-1 ml-1"></i> Account Settings</a>-->
<!--                                <div class="dropdown-divider"></div>-->
                                <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa fa-power-off mr-1 ml-1"></i> Logout</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User profile -->
                            <div class="user-profile text-center position-relative pt-4 mt-1">
                                <!-- User profile image -->
                                <div class="m-auto"> <i class="fad fa-user-circle text-success fa-2x"></i> </div>
                                <!-- User profile text-->
                                <div class="profile-text py-1"> <span class="link u-dropdown text-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{ request.user.get_full_name }}</span>

                                </div>
                            </div>
                            <!-- End User profile text-->
                        </li>
                        <!-- User Profile-->
                        <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">Membership Organisations</span></li>
<!--                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false"><i class="fad fa-home-alt mr-1"></i> <span class="hide-menu">Overview</span></a></li>-->
                        {% if membership_packages %}
                            {% for package in membership_packages.all %}
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'membership_package' package.organisation_name %}" aria-expanded="false"><i class="fad fa-users mr-1"></i> <span class="hide-menu">
                                    {{ package.organisation_name }}
                                </span></a></li>
                            {% endfor %}
                        {% else %}
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'membership' %}" aria-expanded="false"><i class="fad fa-users mr-1"></i> <span class="hide-menu">
                                Create Organisation
                            </span></a></li>
                        {% endif %}

                        <li class="nav-devider"></li>
                        <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">My Memberships</span></li>
                        {% if member.membership.all %}
                            {% for membership in member__membership.all %}
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'member_profile' membership.membership_package.organisation_name membership.id %}" aria-expanded="false"><i class="fad fa-user mr-1"></i><span class="hide-menu">
                                    {{ membership.membership_package }}
                                </span></a></li>
                            {% endfor %}
                        {% else %}
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="fad fa-user mr-1"></i><span class="hide-menu">
                                No Membership
                            </span></a></li>
                        {% endif %}

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item-->
                {% if request.user.is_superuser %}
                    <a href="/admin" target="_blank" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                {% endif %}
                <!-- item-->
<!--                <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>-->
                <!-- item-->
                <a href="{% url 'account_logout' %}" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->



        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            {% block content %}

            {% endblock %}
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                   ©2020 Memberships by MA Systems Limited
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <div class="chat-windows"></div>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <script src="{% static 'dist/js/app.init.mini-sidebar.js' %}"></script>
    <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/feather.min.js' %}"></script>
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <!--Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }

        $("#save-donation").click(function(e){
            $('#donation-overlay-spinner').modal();
            e.preventDefault();
            sleep(2000).then(() => {
                submitDonationForm()
            });

        });

        function submitDonationForm() {

            // Get form
            var form = $('#donationForm')[0];
            console.log(form);

            // Create an FormData object
            var data = new FormData(form);
            console.log(data);

            $.ajax({
                url: '{% url 'donation_payment' %}',
                enctype: 'multipart/form-data',
                type: 'POST',
                processData: false,
                contentType: false,
                cache: false,
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#donationForm').serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result['status'] == "fail") {
                        $('#formError').removeClass('d-none');
                        $('#donation-overlay-spinner').modal('hide');
                    } else {
                        $('#formError').addClass('d-none');
                        generateCardToken(data);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }

        // STRIPE STUFF
        var stripe = Stripe('{{ public_api_key }}');
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#donation-card-element');


        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });

        // Create a token or display an error when the form is submitted.
        function generateCardToken() {
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('donation-card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    donationStripeTokenHandler(result.token);
                }
            });
        }

        function donationStripeTokenHandler(token) {

            // Submit the token
            $.ajax({
                url: '{% url 'donation_payment' %}',
                type: 'post',
                dataType: 'text',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'token': token,
                    },
                beforeSend: function() {
                    $('#paymentSuccess').addClass('d-none');
                    $('#paymentFail').addClass('d-none');
                },
                success: function(data) {
                    var result = JSON.parse(data);
                    if (result.result == 'fail') {
                        $('#donation-overlay-spinner').modal('hide');
                        $('#donation-card-errors').html(result.feedback);
                    } else {
                        $('#existing-customer-details').addClass('d-none');
                        $('#donation-payment-form').addClass('d-none');
                        $('#donation-payment-buttons').addClass('d-none');
                        loadSuccessPage(result);
                    }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        }

        function loadSuccessPage(result) {
            $('#donation-overlay-spinner').modal('hide');

            //update layout
            $('#result').removeClass('d-none');
            $('#receipt').attr("href", result.receipt);
            $('#goToMemberPageLink').attr("href", '/membership/member-profile/{{ package.organisation_name }}/{{ member.pk }}');
        }
    </script>
    <!--Page Messages -->
    <script src="{% static 'assets/extra-libs/toastr/dist/build/toastr.min.js' %}"></script>
    <script>
        function infoMsg(msg) {
            toastr.info(msg, 'Information', { "progressBar": true });
        }

        function warningMsg(msg) {
            toastr.warning(msg, 'Warning', { "progressBar": true });
        }
        function errorMsg(msg) {
            toastr.error(msg, 'Error', { "progressBar": true });
        }

        {% if info_message %}
            toastr.info({{ info_message }}, 'Information', { "progressBar": true });
        {% endif %}

        {% if warning_message %}
            toastr.warning({{ warning_message }}, 'Warning', { "progressBar": true });
        {% endif %}

        {% if error_message %}
            toastr.error({{ error_message }}, 'Error', { "progressBar": true });
        {% endif %}

        $(document).ready(function(){
            // get the tab from url
            var hash = window.location.hash;

            // if a hash is present (when you come to this page)
            if (hash !='') {
                // show the tab
                $('a[href="' + hash + '"]').tab('show');
            }
        });
    </script>
    <script src="{% static 'assets/libs/typeahead.js/dist/typeahead.jquery.min.js' %}"></script>
    <script>
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
              };
        };

        var orgs = [{% for org in all_packages.all %}
                            '{{ org.organisation_name }}',
                            {% endfor %}];
        $('#orgs .typeahead,#orgs .typeahead1').typeahead({
          hint: true,
          highlight: true,
          minLength: 0
        },
        {
          name: 'organisations',
          source: substringMatcher(orgs)
        });
        $('.typeahead, .typeahead1').bind('typeahead:active', function(ev, suggestion) {
            $('#organisations').attr("placeholder", "Type organisation name");
        });
        $('.typeahead, .typeahead1').bind('typeahead:close', function(ev, suggestion) {
            $('#organisations').attr("placeholder", "");
        });
        $('#selectDonOrg').click(function() {
            if (($('#organisations').val() != "") && (orgs.includes($('#organisations').val()))) {
                $('#organisations').attr('readonly', true);
                $('#save-donation').removeClass('d-none');
                $('#selectDonOrg').addClass('d-none');
                $('#changeDonOrg').removeClass('d-none');
                $('#org-error').html("");
                $('#org-success').html("Organisation selected successfully!");
            } else {
                $('#org-success').html("");
                $('#org-error').html("Organisation dose not exist!");
            }
        });

        $('#changeDonOrg').click(function() {
            $('#organisations').attr('readonly', false);
            $('#selectDonOrg').removeClass('d-none');
            $('#changeDonOrg').addClass('d-none');
            $('#save-donation').addClass('d-none');
        });
    </script>
    {% block footer %}
    {% endblock %}
</body>

</html>