{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-7 align-self-center d-none d-md-block">
            <button class="btn float-right btn-success"><i class="mdi mdi-plus-circle"></i> Join Organisation</button>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center no-block">
                        <h4 class="card-title">My Memberships</h4>
                        <div class="ml-auto">
<!--                            <select class="custom-select">-->
<!--                                <option selected>Today</option>-->
<!--                                <option value="1">Weekly</option>-->
<!--                            </select>-->
                        </div>
                    </div>

                    {% for account in memberships.all %}
                        <div class="card
                            {% if account.enabled %}
                                bg-info
                            {% else %}
                                bg-danger
                            {% endif %}">
                            <div class="card-body text-white">
                                <div class="d-flex flex-row">
                                    <div class="display-6 align-self-center"><i class="fad fa-clipboard-check"></i></div>
                                    <div class="p-2 align-self-center">
                                        <h4 class="mb-0 text-white">{{ account.organisation_name }}</h4>
                                        <span>
                                            {% if account.owner == request.user %}
                                                Owner
                                            {% else %}
                                                {% for admin in account.admins.all %}
                                                    {% if admin == request.user %}
                                                        Admin
                                                    {% endif %}
                                                {% endfor %}
                                                {% for member in account.members.all %}
                                                    {% if member == request.user %}
                                                        Member
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="ml-auto align-self-center">
                                        <button class="font-weight-medium mb-0 btn btn-light">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-lg-6">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card card-body">
                        <!-- Row -->
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col pr-0">
                                <h2 class="font-weight-light">oegs.cloud-lines.com</h2>
                                <h6 class="text-muted">Linked Account</h6></div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <i class="fad fa-link fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card card-body">
                        <!-- Row -->
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col pr-0">
                                <h1 class="font-weight-light">256</h1>
                                <h6 class="text-muted">All Memebers</h6></div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <i class="fad fa-users text-info fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card card-body">
                        <!-- Row -->
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col pr-0">
                                <h1 class="font-weight-light">250</h1>
                                <h6 class="text-muted">Active Members</h6></div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <i class="fad fa-users text-success fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card card-body">
                        <!-- Row -->
                        <div class="row pt-2 pb-2">
                            <!-- Column -->
                            <div class="col pr-0">
                                <h1 class="font-weight-light">6</h1>
                                <h6 class="text-muted">Inactive Members</h6></div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <i class="fad fa-users-slash text-danger fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}

{% block footer %}

{% endblock %}