{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}

{% endblock %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="col-md-7">

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center no-block">
                        <h4 class="card-title">Membership Organisation</h4>
                        <div class="ml-auto">
<!--                            <select class="custom-select">-->
<!--                                <option selected>Today</option>-->
<!--                                <option value="1">Weekly</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    {% if membership_packages %}
                        <p>Membership organisation have the ability to hold many members of different types,
                            managing your members payments and creating an organisation structure.</p>
                        <hr>
                        <!-- Iterate over all packages -->
                        {% for account in membership_packages.all %}
                            <!-- Validate request.user is owner or admin of package -->
                            {% if request.user == account.owner or request.user in account.admins.all %}
                                <div class="card
                                    {% if account.enabled %}
                                        bg-info
                                    {% else %}
                                        bg-warning
                                    {% endif %}">
                                    <div class="card-body text-white">
                                        <div class="d-flex flex-row">
                                            <div class="display-6 align-self-center"><i class="fad fa-users"></i></div>
                                            <div class="p-2 align-self-center">
                                                <h4 class="mb-0 text-white">{{ account.organisation_name }}</h4>
                                                <span>Role:
                                                    {% if account.owner == request.user %}
                                                        Owner
                                                    {% else %}
                                                        {% for admin in account.admins.all %}
                                                            {% if admin == request.user %}
                                                                Admin
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="ml-auto align-self-center">
                                                {% if account.owner == request.user %}
                                                <a href="{% url 'membership_package' account.organisation_name %}"><button class="font-weight-medium mb-0 btn btn-light">View</button></a>
                                                    {% else %}
                                                        {% for admin in account.admins.all %}
                                                            {% if admin == request.user %}
                                                <a href="{% url 'membership_package' account.organisation_name %}"><button class="font-weight-medium mb-0 btn btn-light">View</button></a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>You don't currently have an organisation, <a href="{% url 'membership_package_settings' %}"><button class="btn btn-sm btn-success btn-rounded">Create one?</button></a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center no-block">
                        <h4 class="card-title">My Subscriptions</h4>
                        <div class="ml-auto">
<!--                            <select class="custom-select">-->
<!--                                <option selected>Today</option>-->
<!--                                <option value="1">Weekly</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <p>You can be a member of multiple Membership Organisations and manage all of your own information.</p>
                    <hr>
                        {% for subscription in membership.subscription.all %}
                            <div class="card bg-info">
                                <div class="card-body text-white">
                                    <div class="d-flex flex-row">
                                        <div class="display-6 align-self-center"><i class="fad fa-clipboard-check"></i></div>
                                        <div class="p-2 align-self-center">
                                            <h4 class="mb-0 text-white">{{ subscription.membership_package.organisation_name }}</h4>
                                            <span>
                                                {% if subscription.price %}
                                                    Membership Type: <span class="badge py-1 badge-success">
                                                                        {{ subscription.price.nickname }}
                                                                     </span>
                                                {% else %}
                                                    Membership Type: <span class="badge py-1 badge-danger">
                                                                        No membership selected
                                                                     </span>

                                                                     <a href="{% url 'member_payment' subscription.membership_package.organisation_name subscription.member.id %}">
                                                                         <button class="btn btn-sm btn-rounded btn-outline-danger mr-1 mt-1" data-toggle="tooltip" data-placement="top" title="Card details not added">
                                                                            <i class="fad fa-credit-card-front text-light"></i>
                                                                         </button>
                                                                     </a>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="ml-auto align-self-center">
                                            <a href="{% url 'member_profile' subscription.member.id %}"><button class="font-weight-medium mb-0 btn btn-light">View</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    <p>Use the field below to find the organisation you'd like to join.</p>
                    <div class="input-group d-flex">
                        <div id="orgs">
                            <input class="typeahead form-control" type="text" id="organisations" name="organisations" placeholder="Type organisation name">
                        </div>
                        <button class="btn btn-sm btn-info" id="joinOrg"><i class="fad fa-users mr-1"></i>Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->

{% endblock %}

{% block footer %}
    <script>
        $('#joinOrg').click(function() {
            if (($('#organisations').val() != "") && (orgs.includes($('#organisations').val()))) {
                var url = "/membership/member-form/" + $('#organisations').val();
                window.location.href = url;
            }
        });
    </script>
{% endblock %}