<!--  Gift aid terms & conditions modal -->
<div class="modal fade" id="giftAidModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Gift Aid - Terms & Conditions</h4>
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <i>Thanks to Gift Aid we can reclaim tax on donations and subscriptions if you are a UK tax payer — and it does not cost you a penny.</i>
                <br/><br/>
                <ul>
                    <li>I would like this organisation to treat as Gift Aid donations all qualifying gifts of money I have made in the past 4 years and all I will make today and in the future, until I notify them otherwise.</li>
                    <li>I confirm I have paid or will pay an amount of Income Tax and/or Capital Gains Tax in each tax year that is at least equal to the amount of tax that all the charities or Community Amateur Sports Clubs (CASCs) that I donate to will reclaim on my gifts for that tax year.</li>
                    <li>I understand that if I pay less Income and/or Capital Gains Tax in the current tax year than the amount of Gift Aid claimed on all my donations it is my responsibility to pay any difference.</li>
                    <li>I understand that other taxes such as VAT and Council Tax do not qualify.</li>
                    <li>I understand that this organisation will reclaim 25p of tax on every El that I give on or after 6 April 2008.</li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->