{% extends 'login_base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
    <div>
        <div class="logo">
            <h3 class="box-title mb-3">Sign Up</h3>
        </div>
        <!-- Form -->
        <div class="row">
            <div class="col-12">
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        <i class="dripicons-wrong mr-2"></i> {{ error_message }}
                    </div>
                {% endif %}
                <form class="form-horizontal mt-3 form-material" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <div class="col-xs-12">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-xs-12">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-group mb-3 ">
                        <div class="col-xs-12">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group mb-3 ">
                        <div class="col-xs-12">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-xs-12">
                            {{ form.password_repeat }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-success pt-0 pl-2">
                                {{ form.terms }}
                                <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mb-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Register</button>
                        </div>
                    </div>
                    <div class="form-group mb-0 mt-2 ">
                        <div class="col-sm-12 text-center ">
                            Already have an account? <a href="{% url 'login' %}" class="text-info ml-1 ">Sign In</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $('[data-toggle="tooltip "]').tooltip();
        $(".preloader ").fadeOut();
    </script>
{% endblock %}

